### Introduction
In the past decade, both the NBA and EuroLeague have seen a notable increase in 3-point shooting. While it’s often assumed that shooting more 3s could lead to a drop in accuracy, the data may tell a different story. This project investigates whether teams have become not only more reliant on 3-pointers, but also more efficient, challenging assumptions about volume vs. efficiency in modern basketball.

### Objectives
- Analyze YoY trends in average 3PA and 3P%
- Evaluate the correlation between increased volume and accuracy
- Compare the league-wide shooting evolution in both competitions

### Hypothesis
Over the last 10 years, the rise in average 3-point attempts (av3PA) has not lowered 3-point percentage (3P%) in the NBA or EuroLeague, in fact, 3P% has improved year-over-year.

### Metrics involved
- av3P (Average 3 Point Attempts): The number of shots a team takes from beyond the three-point line per season on average.
- 3P% (Three-Point Percentage): Measures how accurately teams shoot from beyond the three point line.

In [27]:
# install the NBA API

!pip install nba_api

Requirement already satisfied: nba_api in /opt/anaconda3/lib/python3.12/site-packages (1.9.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from nba_api) (1.26.4)
Requirement already satisfied: pandas>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from nba_api) (2.2.2)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in /opt/anaconda3/lib/python3.12/site-packages (from nba_api) (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->nba_api) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->nba_api) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.1.31)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.16.0)

In [28]:
# install the Euroleague API

!pip install euroleague-api

Requirement already satisfied: euroleague-api in /opt/anaconda3/lib/python3.12/site-packages (0.0.16)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (2.32.3)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (1.26.4)
Requirement already satisfied: xmltodict in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (0.14.2)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (4.66.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->euroleague-api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->euroleague-api) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->euroleague-api) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (2025.1.31)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->euroleague-api) (1.16.0)

In [546]:
# import numpy, pandas and requests

import pandas as pd
import numpy as np
import requests

## EUROLEAGUE DATA

In [311]:
######### Import euroleague data

from euroleague_api.team_stats import TeamStats

In [313]:
ts = TeamStats("E")

In [323]:
# test to see how the function works for a single year
df_euro1 = ts.get_team_stats_single_season("traditional", 2020)
df_euro1

,teamRanking,gamesPlayed,minutesPlayed,pointsScored,twoPointersMade,twoPointersAttempted,twoPointersPercentage,threePointersMade,threePointersAttempted,threePointersPercentage,...,turnovers,blocks,blocksAgainst,foulsCommited,foulsDrawn,pir,team.code,team.tvCodes,team.name,team.imageUrl
0,1,34.0,40.294118,74.1,17.3,35.2,49%,8.6,22.7,37.8%,...,13.3,1.8,2.7,21.6,20.0,74.9,RED,CZV,Crvena Zvezda Meridianbet Belgrade,https://media-cdn.incrowdsports.com/d2eef4a8-6...
1,2,34.0,40.294118,77.5,18.2,35.4,51.5%,9.3,26.8,34.6%,...,13.9,3.3,2.4,22.1,18.5,79.4,KHI,KHI,BC Khimki,https://media-cdn.incrowdsports.com/04bd9ac1-e...
2,3,34.0,40.294118,76.7,19.1,36.5,52.2%,8.4,21.4,39.3%,...,14.5,3.2,2.0,21.5,19.9,81.4,ASV,ASV,LDLC ASVEL Villeurbanne,https://media-cdn.incrowdsports.com/e33c6d1a-9...
3,4,34.0,40.588235,78.4,19.6,37.3,52.4%,8.8,25.1,35.2%,...,13.6,2.6,3.1,19.4,19.6,84.0,TEL,MTA,Maccabi Playtika Tel Aviv,https://media-cdn.incrowdsports.com/5c55ef14-2...
4,5,34.0,40.441176,78.6,19.2,34.2,56.1%,8.8,25.2,34.8%,...,14.2,2.8,2.3,20.6,20.0,85.3,OLY,OLY,Olympiacos Piraeus,https://media-cdn.incrowdsports.com/789423ac-3...
5,6,39.0,40.384615,78.6,21.3,41.7,51.1%,7.2,18.9,38.2%,...,12.6,2.2,1.8,22.8,20.5,85.5,MUN,BAY,FC Bayern Munich,https://media-cdn.incrowdsports.com/817b0e58-d...
6,7,39.0,40.128205,77.5,18.1,32.2,56.2%,9.2,24.5,37.5%,...,12.3,2.0,2.3,21.0,20.6,85.8,DYR,ZEN,Zenit St Petersburg,https://media-cdn.incrowdsports.com/4c571fd6-5...
7,8,34.0,40.000000,77.4,20.1,38.5,52.2%,8.4,20.0,42.1%,...,13.4,1.1,2.6,19.4,19.4,86.1,ZAL,ZAL,Zalgiris Kaunas,https://media-cdn.incrowdsports.com/0aa09358-3...
8,9,37.0,40.135135,77.8,21.1,37.0,57%,8.1,20.6,39.6%,...,14.2,1.9,2.3,18.9,18.5,86.6,ULK,FNB,Fenerbahce Beko Istanbul,https://media-cdn.incrowdsports.com/0233ebbb-f...
9,10,34.0,40.294118,78.6,19.0,36.1,52.7%,10.1,27.6,36.5%,...,14.8,2.2,2.9,18.4,19.5,86.8,BER,BER,ALBA Berlin,https://media-cdn.incrowdsports.com/ccc34858-2...
10,11,34.0,40.588235,79.7,19.8,37.5,52.7%,8.9,24.8,35.9%,...,13.3,3.0,2.4,20.3,20.0,87.2,PAN,PAO,Panathinaikos AKTOR Athens,https://media-cdn.incrowdsports.com/e3dff28a-9...
11,12,41.0,40.487805,81.6,19.4,37.8,51.5%,9.4,22.8,41.4%,...,11.2,2.2,2.5,20.2,20.0,88.2,MIL,AXM,EA7 Emporio Armani Milan,https://media-cdn.incrowdsports.com/8154f184-c...
12,13,39.0,40.512821,79.4,18.5,33.3,55.5%,10.3,28.1,36.5%,...,13.2,3.2,1.8,19.4,18.8,89.6,MAD,RMB,Real Madrid,https://media-cdn.incrowdsports.com/1a3e1404-4...
13,14,41.0,40.365854,80.0,20.9,38.9,53.6%,7.9,19.8,39.9%,...,14.3,2.6,2.3,21.7,21.1,90.1,BAR,FCB,FC Barcelona,https://media-cdn.incrowdsports.com/35dfa503-e...
14,15,39.0,40.641026,84.1,19.5,36.4,53.5%,9.9,26.5,37.5%,...,12.2,2.1,2.7,19.8,21.7,92.6,CSK,CSK,CSKA Moscow,https://media-cdn.incrowdsports.com/b6a59212-7...
15,16,34.0,40.294118,81.9,19.6,33.9,58%,9.4,25.5,36.7%,...,13.3,1.7,2.7,19.6,20.5,93.7,PAM,VBC,Valencia Basket,https://media-cdn.incrowdsports.com/efd12730-f...
16,17,34.0,40.147059,80.9,20.1,37.9,53.2%,9.2,23.7,38.9%,...,14.1,2.9,2.5,17.7,19.9,96.1,BAS,TDS,Baskonia Vitoria-Gasteiz,https://media-cdn.incrowdsports.com/e324a6af-2...
17,18,41.0,40.121951,84.2,19.4,34.2,56.7%,10.2,25.5,40%,...,11.2,2.9,2.5,17.5,20.4,98.5,IST,EFS,Anadolu Efes Istanbul,https://media-cdn.incrowdsports.com/8ea8cec7-d...

In [34]:
df_euro1.columns

Index(['teamRanking', 'gamesPlayed', 'minutesPlayed', 'pointsScored',
       'twoPointersMade', 'twoPointersAttempted', 'twoPointersPercentage',
       'threePointersMade', 'threePointersAttempted',
       'threePointersPercentage', 'freeThrowsMade', 'freeThrowsAttempted',
       'freeThrowsPercentage', 'offensiveRebounds', 'defensiveRebounds',
       'totalRebounds', 'assists', 'steals', 'turnovers', 'blocks',
       'blocksAgainst', 'foulsCommited', 'foulsDrawn', 'pir', 'team.code',
       'team.tvCodes', 'team.name', 'team.imageUrl'],
      dtype='object')

In [341]:
# Create lists of years with my desired rangea and a list where I will compile the season dataframes
years = list(range(2014, 2025))
season_dfs = []

# loop to obtain the df of single stats per team per season, formatting for the season, filtering for the columns that I need 
# and appending it to the list I created above

for year in years:
    df = ts.get_team_stats_single_season("traditional", year)
    
    df["season"] = f"{year}-{str(year + 1)}" 
    
    df_clean = df[["threePointersAttempted", "threePointersMade", "threePointersPercentage", "team.name", "season", "twoPointersAttempted", "twoPointersMade"]]
    
    season_dfs.append(df_clean)

In [343]:
# Combine all seasons into one DataFrame
df_euro_all = pd.concat(season_dfs)

# Rename columns
df_euro_all.rename(columns={
    "threePointersAttempted": "eur_3PA",
    "threePointersMade": "eur_3PM",
    "threePointersPercentage": "eur_3P%",
    "team.name": "team",
    "twoPointersAttempted": "eur_2PA",
    "twoPointersMade": "eur_2PM"
}, inplace=True)

df_euro_all

,eur_3PA,eur_3PM,eur_3P%,team,season,eur_2PA,eur_2PM
0,19.6,7.1,36.4%,Zalgiris Kaunas,2014-2015,39.8,19.0
1,16.8,6.0,36.1%,ALBA Berlin,2014-2015,41.5,21.3
2,24.2,7.7,31.7%,EA7 Emporio Armani Milan,2014-2015,39.4,20.2
3,21.6,7.5,34.8%,Anadolu Efes Istanbul,2014-2015,39.4,19.3
4,20.2,6.0,29.5%,Crvena Zvezda Meridianbet Belgrade,2014-2015,43.4,21.7
...,...,...,...,...,...,...,...
13,22.7,8.2,36.2%,AS Monaco,2024-2025,40.9,22.7
14,24.7,9.5,38.7%,FC Barcelona,2024-2025,40.7,23.4
15,24.3,9.4,38.5%,Anadolu Efes Istanbul,2024-2025,38.3,22.5
16,25.9,9.7,37.3%,Olympiacos Piraeus,2024-2025,35.4,20.5
17,25.6,9.9,38.6%,Panathinaikos AKTOR Athens,2024-2025,37.0,21.6

In [345]:
# Strip the '%' symbol and convert to float
df_euro_all['eur_3P%'] = df_euro_all['eur_3P%'].str.rstrip('%').astype('float')

In [347]:
# Create a copy for filtering
df_euro_filtered = df_euro_all.copy()

# Group by season, find the avg and restart the index
euro_avg = df_euro_filtered.groupby("season")[["eur_3PA", "eur_3PM", "eur_3P%", "eur_2PA", "eur_2PM"]].mean().reset_index()
euro_avg

       season    eur_3PA   eur_3PM    eur_3P%    eur_2PA    eur_2PM
0   2014-2015  22.006250  7.775000  35.381250  39.762500  20.381250
1   2015-2016  22.650000  8.137500  35.868750  38.200000  19.881250
2   2016-2017  22.606250  8.400000  37.187500  38.962500  20.143750
3   2017-2018  22.812500  8.543750  37.556250  38.543750  20.306250
4   2018-2019  23.131250  8.525000  36.850000  38.331250  20.543750
5   2019-2020  24.750000  9.233333  37.244444  36.961111  19.566667
6   2020-2021  23.861111  9.005556  37.911111  36.333333  19.455556
7   2021-2022  24.177778  8.600000  35.572222  36.377778  19.411111
8   2022-2023  25.127778  9.077778  36.105556  35.766667  19.494444
9   2023-2024  25.327778  9.222222  36.372222  37.094444  20.233333
10  2024-2025  25.977778  9.411111  36.133333  36.977778  20.561111

In [351]:
# Create new column for FG%, first I add the attempts, then I add the makes, and lastly I create the new column that I'm going to use in FG%.
euro_avg['eur_FGA'] = euro_avg['eur_3PA'] + euro_avg['eur_2PA']
euro_avg['eur_FGM'] = euro_avg['eur_3PM'] + euro_avg['eur_2PM']

euro_avg['eur_FG%'] = euro_avg['eur_FGM'] / euro_avg['eur_FGA'] * 100

In [365]:
euro_avg

,season,eur_3PA,eur_3PM,eur_3P%,eur_2PA,eur_2PM,eur_FGA,eur_FGM,eur_FG%,eur_3PA_ratio
0,2014-2015,22.006250,7.775000,35.381250,39.762500,20.381250,61.768750,28.156250,45.583325,35.626834
1,2015-2016,22.650000,8.137500,35.868750,38.200000,19.881250,60.850000,28.018750,46.045604,37.222679
2,2016-2017,22.606250,8.400000,37.187500,38.962500,20.143750,61.568750,28.543750,46.360776,36.717085
3,2017-2018,22.812500,8.543750,37.556250,38.543750,20.306250,61.356250,28.850000,47.020475,37.180401
4,2018-2019,23.131250,8.525000,36.850000,38.331250,20.543750,61.462500,29.068750,47.295099,37.634737
5,2019-2020,24.750000,9.233333,37.244444,36.961111,19.566667,61.711111,28.800000,46.669067,40.106230
6,2020-2021,23.861111,9.005556,37.911111,36.333333,19.455556,60.194444,28.461111,47.281957,39.640055
7,2021-2022,24.177778,8.600000,35.572222,36.377778,19.411111,60.555556,28.011111,46.256881,39.926606
8,2022-2023,25.127778,9.077778,36.105556,35.766667,19.494444,60.894444,28.572222,46.920901,41.264483
9,2023-2024,25.327778,9.222222,36.372222,37.094444,20.233333,62.422222,29.455556,47.187611,40.574938
10,2024-2025,25.977778,9.411111,36.133333,36.977778,20.561111,62.955556,29.972222,47.608542,41.263678

In [357]:
# I need to create a new column that adds 2PA and 3PA, and name it as eur_FGA.
# I need to add a new column to each DataFrame that shows the proportion of 3-point attempts (3PA) out of total field goal attempts (FGA).
# I call it 3PA_ratio

In [359]:
euro_avg['eur_FGA'] = euro_avg['eur_3PA'] + euro_avg['eur_2PA']

In [363]:
euro_avg['eur_3PA_ratio'] = euro_avg['eur_3PA'] / euro_avg['eur_FGA'] *100

In [377]:
# Finally drop the columns that I'm not going to use and round the numbers

euro_avg.drop(columns=['eur_3PM', 'eur_2PM'], inplace=True)

In [381]:
euro_avg = euro_avg.round(2)

In [383]:
euro_avg

       season  eur_3PA  eur_3P%  eur_FG%  eur_3PA_ratio
0   2014-2015    22.01    35.38    45.58          35.63
1   2015-2016    22.65    35.87    46.05          37.22
2   2016-2017    22.61    37.19    46.36          36.72
3   2017-2018    22.81    37.56    47.02          37.18
4   2018-2019    23.13    36.85    47.30          37.63
5   2019-2020    24.75    37.24    46.67          40.11
6   2020-2021    23.86    37.91    47.28          39.64
7   2021-2022    24.18    35.57    46.26          39.93
8   2022-2023    25.13    36.11    46.92          41.26
9   2023-2024    25.33    36.37    47.19          40.57
10  2024-2025    25.98    36.13    47.61          41.26

## NBA DATA

In [40]:
########### import nba data

from nba_api.stats.endpoints import leaguedashteamstats

In [41]:
nba_ts = leaguedashteamstats

In [42]:
# test to see how the function works for a single year
df_nba1 = nba_ts.LeagueDashTeamStats(
        season="2015-16",
        measure_type_detailed_defense="Base",
        per_mode_detailed="PerGame")

df_nba_data = df_nba1.get_data_frames()[0]
df_nba_data.head

<bound method NDFrame.head of        TEAM_ID               TEAM_NAME  GP   W   L  W_PCT   MIN   FGM   FGA  \
0   1610612737           Atlanta Hawks  82  48  34  0.585  48.4  38.6  84.4
1   1610612738          Boston Celtics  82  48  34  0.585  48.2  39.2  89.2
2   1610612751           Brooklyn Nets  82  21  61  0.256  48.2  38.2  84.4
3   1610612766       Charlotte Hornets  82  48  34  0.585  48.4  37.0  84.4
4   1610612741           Chicago Bulls  82  42  40  0.512  48.5  38.6  87.4
5   1610612739     Cleveland Cavaliers  82  57  25  0.695  48.4  38.7  84.0
6   1610612742        Dallas Mavericks  82  42  40  0.512  48.8  37.4  84.1
7   1610612743          Denver Nuggets  82  33  49  0.402  48.4  37.7  85.4
8   1610612765         Detroit Pistons  82  44  38  0.537  48.5  37.9  86.4
9   1610612744   Golden State Warriors  82  73   9  0.890  48.5  42.5  87.3
10  1610612745         Houston Rockets  82  41  41  0.500  48.4  37.7  83.5
11  1610612754          Indiana Pacers  82  45  37  0.549  48.5  38.3  85.2
12  1610612746             LA Clippers  82  53  29  0.646  48.4  38.3  82.4
13  1610612747      Los Angeles Lakers  82  17  65  0.207  48.1  35.1  84.8
14  1610612763       Memphis Grizzlies  82  42  40  0.512  48.4  36.8  83.6
15  1610612748              Miami Heat  82  48  34  0.585  48.4  38.4  81.7
16  1610612749         Milwaukee Bucks  82  33  49  0.402  48.4  38.4  82.2
17  1610612750  Minnesota Timberwolves  82  29  53  0.354  48.5  37.7  81.3
18  1610612740    New Orleans Pelicans  82  30  52  0.366  48.2  38.5  85.9
19  1610612752         New York Knicks  82  32  50  0.390  48.3  36.9  84.0
20  1610612760   Oklahoma City Thunder  82  55  27  0.671  48.4  41.1  86.4
21  1610612753           Orlando Magic  82  35  47  0.427  48.5  39.5  86.8
22  1610612755      Philadelphia 76ers  82  10  72  0.122  48.3  36.2  84.0
23  1610612756            Phoenix Suns  82  23  59  0.280  48.1  37.2  85.6
24  1610612757  Portland Trail Blazers  82  44  38  0.537  48.3  38.6  85.9
25  1610612758        Sacramento Kings  82  33  49  0.402  48.3  40.0  86.4
26  1610612759       San Antonio Spurs  82  67  15  0.817  48.1  40.1  82.9
27  1610612761         Toronto Raptors  82  56  26  0.683  48.2  36.7  81.3
28  1610612762               Utah Jazz  82  40  42  0.488  48.7  36.1  80.4
29  1610612764      Washington Wizards  82  41  41  0.500  48.2  39.5  85.8

    FG_PCT  ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  \
0    0.458  ...        24         2        22         3         5         14
1    0.439  ...         6         6        12         2        22         24
2    0.453  ...        23        15        19        19        25         18
3    0.439  ...        14        19         1        22        12         21
4    0.441  ...         3        12        13        29         8         27
5    0.460  ...         9        13        10        28        27          7
6    0.444  ...        19        18         2        26        29          8
7    0.442  ...         8        14        18        20        16         30
8    0.439  ...         2        27         9        24        30          9
9    0.487  ...         4         1        24         9         2          3
10   0.452  ...        20        16        27         1        13         13
11   0.450  ...        12        22        20         4        17          9
12   0.465  ...        25        11         3         7        10          1
13   0.414  ...        21        30        11        23        24         25
14   0.440  ...        28        25         6         6        21         29
15   0.470  ...        13        23        14        27         1          4
16   0.467  ...        27         9        25        13         7         26
17   0.464  ...        29         8        23        14        19         17
18   0.448  ...        22        17         8        16        23         15
19   0.439  ...        10        26         7        30         9          5
20   0.476  ...         1        10        26        21         4         11
21   0.455  ...        17         7        14        12        15         21
22   0.431  ...        30        20        29        10         3         28
23   0.435  ...         7        24        30        17        28         23
24   0.450  ...         5        21        17        25        18         16
25   0.464  ...        11         4        28         5        20         19
26   0.484  ...        15         3         4        11         6          2
27   0.451  ...        16        29         5        15        11         20
28   0.449  ...        18        28        21        18        14         12
29   0.460  ...        26         5        16         8        26          6

    PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         7        29        12                7
1        29        10         5                8
2         2        28        26               28
3         3        14        11                9
4         5        26        21               18
5        14        12         8                4
6         8         8        16               16
7        23        11        20               23
8         6         5        19               14
9        19        19         1                1
10       28         1         4               15
11       11        13        17               11
12       24         2         7                6
13       13        24        30               29
14       27         9        24               20
15        4        20        23               12
16       17        21        25               26
17       18         7        15               24
18       22        17        13               25
19       10        27        27               22
20       16        15         2                3
21       19        30        18               19
22       25        25        29               30
23       30         6        22               27
24       26        22         6               13
25       15         4         3               21
26        1        22        10                2
27        9         3        14                5
28       12        18        28               10
29       21        16         9               17

[30 rows x 54 columns]>

In [43]:
df_nba_data.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK',
       'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK',
       'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK',
       'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK'],
      dtype='object')

In [325]:
df_nba_data.head(5)

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,1610612737,Atlanta Hawks,82,48,34,0.585,48.4,38.6,84.4,0.458,...,24,2,22,3,5,14,7,29,12,7
1,1610612738,Boston Celtics,82,48,34,0.585,48.2,39.2,89.2,0.439,...,6,6,12,2,22,24,29,10,5,8
2,1610612751,Brooklyn Nets,82,21,61,0.256,48.2,38.2,84.4,0.453,...,23,15,19,19,25,18,2,28,26,28
3,1610612766,Charlotte Hornets,82,48,34,0.585,48.4,37.0,84.4,0.439,...,14,19,1,22,12,21,3,14,11,9
4,1610612741,Chicago Bulls,82,42,40,0.512,48.5,38.6,87.4,0.441,...,3,12,13,29,8,27,5,26,21,18

In [391]:
nba_data = []

for year in range(2014, 2025):
    season = f"{year}-{str(year + 1)[-2:]}"
    
    # API call
    stats = nba_ts.LeagueDashTeamStats(
        season=season,
        measure_type_detailed_defense="Base",
        per_mode_detailed="PerGame"
    )
    
    df_nba = stats.get_data_frames()[0]
    
    # keep only relevant columns
    df_filtered = df_nba[['TEAM_NAME', 'FG3A', 'FG3_PCT', 'FGA','FG_PCT']].copy()

    # rename columns
    df_filtered.rename(columns={
    "TEAM_NAME": "team",
    "FG3A": "nba_3PA",
    "FG3_PCT": "nba_3P%",
    "FGA": "nba_FGA",
    "FG_PCT": "nba_FG%"
    }, inplace=True)

    # add a new column name "season", to match it later with the euroleague dataframe
    df_filtered['season'] = season
    
    # append it to the nba_data list
    nba_data.append(df_filtered)

In [393]:
nba_data

[                      team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     26.2    0.380     81.7    0.466  2014-15
 1           Boston Celtics     24.6    0.327     87.9    0.443  2014-15
 2            Brooklyn Nets     19.9    0.331     83.0    0.451  2014-15
 3        Charlotte Hornets     19.1    0.318     84.5    0.420  2014-15
 4            Chicago Bulls     22.3    0.353     82.9    0.442  2014-15
 5      Cleveland Cavaliers     27.5    0.367     82.2    0.458  2014-15
 6         Dallas Mavericks     25.4    0.352     85.8    0.463  2014-15
 7           Denver Nuggets     24.8    0.325     87.3    0.433  2014-15
 8          Detroit Pistons     24.9    0.344     85.8    0.432  2014-15
 9    Golden State Warriors     27.0    0.398     87.0    0.478  2014-15
 10         Houston Rockets     32.7    0.348     83.3    0.444  2014-15
 11          Indiana Pacers     21.2    0.352     83.2    0.439  2014-15
 12    Los Angeles Clippers     26.9    0.376     83.3    0.473  2014-15
 13      Los Angeles Lakers     18.9    0.344     85.6    0.435  2014-15
 14       Memphis Grizzlies     15.2    0.339     82.5    0.458  2014-15
 15              Miami Heat     20.2    0.335     77.2    0.456  2014-15
 16         Milwaukee Bucks     18.3    0.363     82.0    0.459  2014-15
 17  Minnesota Timberwolves     14.9    0.332     83.2    0.438  2014-15
 18    New Orleans Pelicans     19.3    0.370     82.9    0.457  2014-15
 19         New York Knicks     19.7    0.347     82.0    0.428  2014-15
 20   Oklahoma City Thunder     22.7    0.339     86.8    0.447  2014-15
 21           Orlando Magic     19.5    0.347     82.8    0.453  2014-15
 22      Philadelphia 76ers     26.3    0.320     82.6    0.408  2014-15
 23            Phoenix Suns     25.0    0.341     85.8    0.452  2014-15
 24  Portland Trail Blazers     27.2    0.362     86.0    0.450  2014-15
 25        Sacramento Kings     16.5    0.341     80.7    0.455  2014-15
 26       San Antonio Spurs     22.5    0.367     83.6    0.468  2014-15
 27         Toronto Raptors     25.1    0.352     83.3    0.455  2014-15
 28               Utah Jazz     21.7    0.343     79.2    0.447  2014-15
 29      Washington Wizards     16.8    0.360     82.8    0.462  2014-15,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     28.4    0.350     84.4    0.458  2015-16
 1           Boston Celtics     26.1    0.335     89.2    0.439  2015-16
 2            Brooklyn Nets     18.4    0.352     84.4    0.453  2015-16
 3        Charlotte Hornets     29.4    0.362     84.4    0.439  2015-16
 4            Chicago Bulls     21.4    0.371     87.4    0.441  2015-16
 5      Cleveland Cavaliers     29.6    0.362     84.0    0.460  2015-16
 6         Dallas Mavericks     28.6    0.344     84.1    0.444  2015-16
 7           Denver Nuggets     23.7    0.338     85.4    0.442  2015-16
 8          Detroit Pistons     26.2    0.345     86.4    0.439  2015-16
 9    Golden State Warriors     31.6    0.416     87.3    0.487  2015-16
 10         Houston Rockets     30.9    0.347     83.5    0.452  2015-16
 11          Indiana Pacers     23.0    0.351     85.2    0.450  2015-16
 12             LA Clippers     26.7    0.364     82.4    0.465  2015-16
 13      Los Angeles Lakers     24.6    0.317     84.8    0.414  2015-16
 14       Memphis Grizzlies     18.5    0.331     83.6    0.440  2015-16
 15              Miami Heat     18.0    0.336     81.7    0.470  2015-16
 16         Milwaukee Bucks     15.6    0.345     82.2    0.467  2015-16
 17  Minnesota Timberwolves     16.4    0.338     81.3    0.464  2015-16
 18    New Orleans Pelicans     23.8    0.360     85.9    0.448  2015-16
 19         New York Knicks     21.5    0.346     84.0    0.439  2015-16
 20   Oklahoma City Thunder     23.7    0.349     86.4    0.476  2015-16
 21           Orlando Magic     22.2    0.350     86.8    0.455  2015-16
 22      Philadelphia 76ers     27.5    0.339     84.0    0.431  2015-16
 23            Phoenix Suns     25.8    0.348     85.6    0.435  2015-16
 24  Portland Trail Blazers     28.5    0.370     85.9    0.450  2015-16
 25        Sacramento Kings     22.4    0.359     86.4    0.464  2015-16
 26       San Antonio Spurs     18.5    0.375     82.9    0.484  2015-16
 27         Toronto Raptors     23.4    0.370     81.3    0.451  2015-16
 28               Utah Jazz     23.9    0.355     80.4    0.449  2015-16
 29      Washington Wizards     24.2    0.358     85.8    0.460  2015-16,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     26.1    0.341     84.4    0.451  2016-17
 1           Boston Celtics     33.4    0.359     85.1    0.454  2016-17
 2            Brooklyn Nets     31.6    0.338     85.2    0.444  2016-17
 3        Charlotte Hornets     28.6    0.351     85.4    0.442  2016-17
 4            Chicago Bulls     22.3    0.340     87.1    0.444  2016-17
 5      Cleveland Cavaliers     33.9    0.384     84.9    0.470  2016-17
 6         Dallas Mavericks     30.2    0.355     82.3    0.440  2016-17
 7           Denver Nuggets     28.8    0.368     87.7    0.469  2016-17
 8          Detroit Pistons     23.4    0.330     88.8    0.449  2016-17
 9    Golden State Warriors     31.2    0.383     87.1    0.495  2016-17
 10         Houston Rockets     40.3    0.357     87.2    0.462  2016-17
 11          Indiana Pacers     23.0    0.376     84.5    0.465  2016-17
 12             LA Clippers     27.4    0.375     83.2    0.475  2016-17
 13      Los Angeles Lakers     25.7    0.346     87.4    0.450  2016-17
 14       Memphis Grizzlies     26.5    0.354     83.6    0.435  2016-17
 15              Miami Heat     27.0    0.365     85.8    0.455  2016-17
 16         Milwaukee Bucks     23.7    0.370     81.9    0.474  2016-17
 17  Minnesota Timberwolves     21.0    0.349     84.4    0.467  2016-17
 18    New Orleans Pelicans     26.8    0.350     87.0    0.450  2016-17
 19         New York Knicks     24.7    0.348     88.5    0.447  2016-17
 20   Oklahoma City Thunder     25.8    0.327     87.4    0.452  2016-17
 21           Orlando Magic     26.1    0.328     87.0    0.440  2016-17
 22      Philadelphia 76ers     29.8    0.340     85.3    0.442  2016-17
 23            Phoenix Suns     22.6    0.332     88.5    0.450  2016-17
 24  Portland Trail Blazers     27.7    0.375     86.1    0.459  2016-17
 25        Sacramento Kings     23.9    0.376     82.1    0.461  2016-17
 26       San Antonio Spurs     23.5    0.391     83.7    0.469  2016-17
 27         Toronto Raptors     24.3    0.363     84.4    0.464  2016-17
 28               Utah Jazz     26.0    0.372     79.5    0.466  2016-17
 29      Washington Wizards     24.8    0.372     87.0    0.475  2016-17,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     31.0    0.360     85.5    0.446  2017-18
 1           Boston Celtics     30.4    0.377     85.1    0.450  2017-18
 2            Brooklyn Nets     35.7    0.356     86.8    0.441  2017-18
 3        Charlotte Hornets     27.2    0.369     86.7    0.450  2017-18
 4            Chicago Bulls     31.1    0.355     88.8    0.435  2017-18
 5      Cleveland Cavaliers     32.1    0.372     84.8    0.476  2017-18
 6         Dallas Mavericks     32.8    0.360     85.9    0.444  2017-18
 7           Denver Nuggets     30.9    0.371     86.6    0.470  2017-18
 8          Detroit Pistons     28.9    0.373     86.9    0.450  2017-18
 9    Golden State Warriors     28.9    0.391     85.1    0.503  2017-18
 10         Houston Rockets     42.3    0.362     84.2    0.460  2017-18
 11          Indiana Pacers     24.5    0.369     86.4    0.472  2017-18
 12             LA Clippers     26.8    0.354     85.4    0.471  2017-18
 13      Los Angeles Lakers     29.1    0.345     88.4    0.461  2017-18
 14       Memphis Grizzlies     26.2    0.352     82.8    0.444  2017-18
 15              Miami Heat     30.6    0.360     85.3    0.455  2017-18
 16         Milwaukee Bucks     24.7    0.355     83.0    0.478  2017-18
 17  Minnesota Timberwolves     22.5    0.357     86.1    0.476  2017-18
 18    New Orleans Pelicans     28.2    0.362     88.3    0.483  2017-18
 19         New York Knicks     23.3    0.352     87.7    0.464  2017-18
 20   Oklahoma City Thunder     30.4    0.354     88.1    0.453  2017-18
 21           Orlando Magic     29.3    0.351     85.9    0.452  2017-18
 22      Philadelphia 76ers     29.8    0.369     86.6    0.472  2017-18
 23            Phoenix Suns     27.9    0.334     87.1    0.442  2017-18
 24  Portland Trail Blazers     28.1    0.366     87.0    0.452  2017-18
 25        Sacramento Kings     24.0    0.375     86.1    0.450  2017-18
 26       San Antonio Spurs     24.1    0.352     85.4    0.457  2017-18
 27         Toronto Raptors     33.0    0.358     87.4    0.472  2017-18
 28               Utah Jazz     29.6    0.366     82.9    0.462  2017-18
 29      Washington Wizards     26.5    0.375     85.6    0.467  2017-18,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     37.0    0.352     91.8    0.451  2018-19
 1           Boston Celtics     34.5    0.365     90.5    0.465  2018-19
 2            Brooklyn Nets     36.2    0.353     89.7    0.449  2018-19
 3        Charlotte Hornets     33.9    0.351     89.8    0.448  2018-19
 4            Chicago Bulls     25.9    0.351     87.9    0.453  2018-19
 5      Cleveland Cavaliers     29.1    0.355     87.6    0.444  2018-19
 6         Dallas Mavericks     36.6    0.340     86.9    0.447  2018-19
 7           Denver Nuggets     31.4    0.351     90.0    0.466  2018-19
 8          Detroit Pistons     34.8    0.348     88.3    0.440  2018-19
 9    Golden State Warriors     34.4    0.385     89.8    0.491  2018-19
 10         Houston Rockets     45.4    0.356     87.4    0.449  2018-19
 11          Indiana Pacers     25.4    0.374     87.0    0.475  2018-19
 12             LA Clippers     25.8    0.388     87.5    0.471  2018-19
 13      Los Angeles Lakers     31.0    0.333     90.5    0.470  2018-19
 14       Memphis Grizzlies     28.9    0.342     84.4    0.450  2018-19
 15              Miami Heat     32.4    0.349     88.0    0.450  2018-19
 16         Milwaukee Bucks     38.2    0.353     91.1    0.476  2018-19
 17  Minnesota Timberwolves     28.7    0.351     91.3    0.456  2018-19
 18    New Orleans Pelicans     29.9    0.344     92.2    0.473  2018-19
 19         New York Knicks     29.5    0.340     88.3    0.433  2018-19
 20   Oklahoma City Thunder     32.6    0.348     94.0    0.454  2018-19
 21           Orlando Magic     32.1    0.356     89.1    0.454  2018-19
 22      Philadelphia 76ers     30.2    0.359     88.2    0.471  2018-19
 23            Phoenix Suns     29.3    0.329     87.4    0.459  2018-19
 24  Portland Trail Blazers     30.7    0.359     90.6    0.467  2018-19
 25        Sacramento Kings     29.9    0.378     93.1    0.464  2018-19
 26       San Antonio Spurs     25.3    0.392     88.4    0.478  2018-19
 27         Toronto Raptors     33.8    0.366     89.1    0.474  2018-19
 28               Utah Jazz     34.0    0.356     86.4    0.468  2018-19
 29      Washington Wizards     33.3    0.341     90.1    0.468  2018-19,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     36.1    0.333     90.6    0.449  2019-20
 1           Boston Celtics     34.5    0.364     89.6    0.461  2019-20
 2            Brooklyn Nets     38.1    0.343     90.3    0.448  2019-20
 3        Charlotte Hornets     34.3    0.352     85.9    0.434  2019-20
 4            Chicago Bulls     35.1    0.348     88.6    0.447  2019-20
 5      Cleveland Cavaliers     31.8    0.351     87.9    0.458  2019-20
 6         Dallas Mavericks     41.3    0.367     90.3    0.461  2019-20
 7           Denver Nuggets     30.6    0.359     88.9    0.473  2019-20
 8          Detroit Pistons     32.7    0.367     85.7    0.459  2019-20
 9    Golden State Warriors     31.3    0.334     88.2    0.438  2019-20
 10         Houston Rockets     45.3    0.345     90.4    0.451  2019-20
 11          Indiana Pacers     28.0    0.363     88.5    0.476  2019-20
 12             LA Clippers     33.5    0.371     89.2    0.466  2019-20
 13      Los Angeles Lakers     31.6    0.349     88.3    0.480  2019-20
 14       Memphis Grizzlies     31.5    0.347     90.9    0.468  2019-20
 15              Miami Heat     35.4    0.379     84.4    0.468  2019-20
 16         Milwaukee Bucks     38.9    0.355     90.9    0.476  2019-20
 17  Minnesota Timberwolves     39.7    0.336     91.6    0.441  2019-20
 18    New Orleans Pelicans     36.9    0.370     91.6    0.465  2019-20
 19         New York Knicks     28.4    0.337     89.3    0.447  2019-20
 20   Oklahoma City Thunder     30.2    0.355     85.5    0.468  2019-20
 21           Orlando Magic     32.2    0.343     88.6    0.444  2019-20
 22      Philadelphia 76ers     31.6    0.368     87.9    0.468  2019-20
 23            Phoenix Suns     31.8    0.358     88.1    0.468  2019-20
 24  Portland Trail Blazers     34.1    0.377     91.2    0.463  2019-20
 25        Sacramento Kings     34.9    0.364     88.4    0.462  2019-20
 26       San Antonio Spurs     28.5    0.376     89.4    0.472  2019-20
 27         Toronto Raptors     37.0    0.374     87.9    0.458  2019-20
 28               Utah Jazz     35.2    0.380     85.1    0.471  2019-20
 29      Washington Wizards     32.6    0.368     90.9    0.457  2019-20,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     33.4    0.373     87.2    0.468  2020-21
 1           Boston Celtics     36.4    0.374     88.9    0.466  2020-21
 2            Brooklyn Nets     36.1    0.392     87.3    0.494  2020-21
 3        Charlotte Hornets     37.0    0.369     87.8    0.455  2020-21
 4            Chicago Bulls     34.0    0.370     88.6    0.476  2020-21
 5      Cleveland Cavaliers     29.7    0.336     85.8    0.450  2020-21
 6         Dallas Mavericks     38.1    0.362     87.3    0.470  2020-21
 7           Denver Nuggets     34.2    0.377     89.2    0.485  2020-21
 8          Detroit Pistons     32.9    0.351     85.6    0.452  2020-21
 9    Golden State Warriors     38.7    0.376     88.2    0.468  2020-21
 10         Houston Rockets     40.6    0.339     88.5    0.444  2020-21
 11          Indiana Pacers     34.0    0.364     91.2    0.474  2020-21
 12             LA Clippers     34.7    0.411     86.7    0.482  2020-21
 13      Los Angeles Lakers     31.2    0.354     86.1    0.472  2020-21
 14       Memphis Grizzlies     31.4    0.356     91.8    0.467  2020-21
 15              Miami Heat     36.2    0.358     83.7    0.468  2020-21
 16         Milwaukee Bucks     37.1    0.389     91.8    0.487  2020-21
 17  Minnesota Timberwolves     37.6    0.349     90.9    0.448  2020-21
 18    New Orleans Pelicans     30.4    0.348     89.1    0.477  2020-21
 19         New York Knicks     30.0    0.392     86.5    0.456  2020-21
 20   Oklahoma City Thunder     35.1    0.339     88.0    0.441  2020-21
 21           Orlando Magic     31.8    0.343     89.2    0.429  2020-21
 22      Philadelphia 76ers     30.1    0.374     86.9    0.476  2020-21
 23            Phoenix Suns     34.6    0.378     88.3    0.490  2020-21
 24  Portland Trail Blazers     40.8    0.385     91.1    0.453  2020-21
 25        Sacramento Kings     33.3    0.364     88.6    0.481  2020-21
 26       San Antonio Spurs     28.4    0.350     90.5    0.462  2020-21
 27         Toronto Raptors     39.3    0.368     88.7    0.448  2020-21
 28               Utah Jazz     43.0    0.389     88.1    0.468  2020-21
 29      Washington Wizards     29.0    0.351     90.9    0.475  2020-21,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     34.4    0.374     88.3    0.470  2021-22
 1           Boston Celtics     37.1    0.356     87.4    0.466  2021-22
 2            Brooklyn Nets     31.7    0.361     88.4    0.475  2021-22
 3        Charlotte Hornets     38.2    0.365     91.4    0.468  2021-22
 4            Chicago Bulls     28.8    0.369     86.9    0.480  2021-22
 5      Cleveland Cavaliers     32.8    0.355     84.6    0.469  2021-22
 6         Dallas Mavericks     37.4    0.350     85.1    0.461  2021-22
 7           Denver Nuggets     35.9    0.353     86.3    0.483  2021-22
 8          Detroit Pistons     34.6    0.326     88.6    0.431  2021-22
 9    Golden State Warriors     39.4    0.364     86.4    0.469  2021-22
 10         Houston Rockets     38.7    0.349     86.4    0.456  2021-22
 11          Indiana Pacers     35.4    0.344     89.5    0.463  2021-22
 12             LA Clippers     34.2    0.374     87.4    0.458  2021-22
 13      Los Angeles Lakers     34.5    0.347     88.8    0.469  2021-22
 14       Memphis Grizzlies     32.7    0.353     94.4    0.461  2021-22
 15              Miami Heat     35.8    0.379     84.8    0.467  2021-22
 16         Milwaukee Bucks     38.4    0.366     89.4    0.468  2021-22
 17  Minnesota Timberwolves     41.3    0.358     91.0    0.457  2021-22
 18    New Orleans Pelicans     32.1    0.332     88.0    0.457  2021-22
 19         New York Knicks     36.9    0.357     86.2    0.437  2021-22
 20   Oklahoma City Thunder     37.4    0.323     89.1    0.430  2021-22
 21           Orlando Magic     36.9    0.331     88.3    0.434  2021-22
 22      Philadelphia 76ers     31.8    0.364     84.5    0.466  2021-22
 23            Phoenix Suns     31.9    0.364     90.1    0.485  2021-22
 24  Portland Trail Blazers     36.8    0.346     87.1    0.442  2021-22
 25        Sacramento Kings     33.2    0.344     88.1    0.460  2021-22
 26       San Antonio Spurs     32.0    0.352     92.7    0.467  2021-22
 27         Toronto Raptors     34.2    0.349     91.3    0.445  2021-22
 28               Utah Jazz     40.3    0.360     86.2    0.471  2021-22
 29      Washington Wizards     30.6    0.342     86.0    0.472  2021-22,
                       team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
 0            Atlanta Hawks     30.5    0.352     92.4    0.483  2022-23
 1           Boston Celtics     42.6    0.377     88.8    0.475  2022-23
 2            Brooklyn Nets     33.8    0.378     85.1    0.487  2022-23
 3        Charlotte Hornets     32.5    0.330     90.4    0.457  2022-23
 4            Chicago Bulls     28.9    0.361     86.8    0.490  2022-23
 5      Cleveland Cavaliers     31.6    0.367     85.2    0.488  2022-23
 6         Dallas Mavericks     41.0    0.371     84.3    0.475  2022-23
 7           Denver Nuggets     31.2    0.379     86.4    0.504  2022-23
 8          Detroit Pistons     32.4    0.351     87.1    0.454  2022-23
 9    Golden State Warriors     43.2    0.385     90.2    0.479  2022-23
 10         Houston Rockets     31.9    0.327     88.9    0.457  2022-23
 11          Indiana Pacers     37.0    0.367     89.6    0.469  2022-23
 12             LA Clippers     33.3    0.381     86.1    0.477  2022-23
 13      Los Angeles Lakers     31.2    0.346     89.0    0.482  2022-23
 14       Memphis Grizzlies     34.2    0.351     92.1    0.475  2022-23
 15              Miami Heat     34.8    0.344     85.3    0.460  2022-23
 16         Milwaukee Bucks     40.3    0.368     90.4    0.473  2022-23
 17  Minnesota Timberwolves     33.3    0.365     87.4    0.490  2022-23
 18    New Orleans Pelicans     30.1    0.364     87.6    0.480  2022-23
 19         New York Knicks     35.7    0.354     89.4    0.470  2022-23
 20   Oklahoma City Thunder     34.1    0.356     92.6    0.465  2022-23
 21           Orlando Magic     31.1    0.346     86.3    0.470  2022-23
 22      Philadelphia 76ers     32.6    0.387     83.8    0.487  2022-23
 23            Phoenix Suns     32.6    0.374     90.1    0.467  2022-23

In [395]:
df_nba_all = pd.concat(nba_data)
df_nba_all

                  team  nba_3PA  nba_3P%  nba_FGA  nba_FG%   season
0        Atlanta Hawks     26.2    0.380     81.7    0.466  2014-15
1       Boston Celtics     24.6    0.327     87.9    0.443  2014-15
2        Brooklyn Nets     19.9    0.331     83.0    0.451  2014-15
3    Charlotte Hornets     19.1    0.318     84.5    0.420  2014-15
4        Chicago Bulls     22.3    0.353     82.9    0.442  2014-15
..                 ...      ...      ...      ...      ...      ...
25    Sacramento Kings     35.2    0.357     90.1    0.478  2024-25
26   San Antonio Spurs     39.6    0.357     89.8    0.465  2024-25
27     Toronto Raptors     34.0    0.348     91.0    0.458  2024-25
28           Utah Jazz     39.8    0.350     88.7    0.454  2024-25
29  Washington Wizards     39.1    0.335     89.9    0.439  2024-25

[330 rows x 6 columns]

In [397]:
df_nba_all['nba_3P%'] = df_nba_all['nba_3P%'].astype(float)
df_nba_avg = df_nba_all.groupby('season')[['nba_3PA', 'nba_3P%','nba_FGA', 'nba_FG%']].mean().reset_index()
df_nba_avg

     season    nba_3PA   nba_3P%    nba_FGA   nba_FG%
0   2014-15  22.410000  0.349100  83.563333  0.449000
1   2015-16  24.083333  0.352767  84.570000  0.452200
2   2016-17  27.003333  0.357167  85.416667  0.457200
3   2017-18  28.996667  0.361733  86.063333  0.460267
4   2018-19  32.006667  0.355500  89.213333  0.460467
5   2019-20  34.103333  0.357767  88.803333  0.459900
6   2020-21  34.636667  0.366033  88.416667  0.466067
7   2021-22  35.180000  0.353567  88.090000  0.461233
8   2022-23  34.206667  0.360133  88.316667  0.475467
9   2023-24  35.106667  0.365667  88.903333  0.474300
10  2024-25  37.583333  0.359967  89.243333  0.467233

### COMPARING DATAFRAMES AND STANDARDIZING VALUES/COLUMNS

In [49]:
# Standardizing "season" column

In [141]:
df_nba_all

                  team  nba_3PA  nba_3P%   season
0        Atlanta Hawks     26.2     38.0  2014-15
1       Boston Celtics     24.6     32.7  2014-15
2        Brooklyn Nets     19.9     33.1  2014-15
3    Charlotte Hornets     19.1     31.8  2014-15
4        Chicago Bulls     22.3     35.3  2014-15
..                 ...      ...      ...      ...
25    Sacramento Kings     35.2     35.7  2024-25
26   San Antonio Spurs     39.6     35.7  2024-25
27     Toronto Raptors     34.0     34.8  2024-25
28           Utah Jazz     39.8     35.0  2024-25
29  Washington Wizards     39.1     33.5  2024-25

[330 rows x 4 columns]

In [83]:
df_nba_all['season'].dtype

dtype('O')

In [401]:
def format_season(season):
    start_year = int(season[:4])
    end_year = start_year + 1
    return f"{start_year}-{end_year}"

In [403]:
df_nba_avg['season'] = df_nba_avg['season'].apply(format_season)
df_nba_avg

       season    nba_3PA   nba_3P%    nba_FGA   nba_FG%
0   2014-2015  22.410000  0.349100  83.563333  0.449000
1   2015-2016  24.083333  0.352767  84.570000  0.452200
2   2016-2017  27.003333  0.357167  85.416667  0.457200
3   2017-2018  28.996667  0.361733  86.063333  0.460267
4   2018-2019  32.006667  0.355500  89.213333  0.460467
5   2019-2020  34.103333  0.357767  88.803333  0.459900
6   2020-2021  34.636667  0.366033  88.416667  0.466067
7   2021-2022  35.180000  0.353567  88.090000  0.461233
8   2022-2023  34.206667  0.360133  88.316667  0.475467
9   2023-2024  35.106667  0.365667  88.903333  0.474300
10  2024-2025  37.583333  0.359967  89.243333  0.467233

In [405]:
# Standardizing "nba_3P%" & "nba_FG%" columns

In [407]:
df_nba_avg['nba_3P%'] = df_nba_avg['nba_3P%'] * 100

In [409]:
df_nba_avg['nba_FG%'] = df_nba_avg['nba_FG%'] * 100

In [421]:
df_nba_avg

       season  nba_3PA  nba_3P%  nba_FG%  nba_3PA_ratio
0   2014-2015    22.41    34.91    44.90          26.82
1   2015-2016    24.08    35.28    45.22          28.48
2   2016-2017    27.00    35.72    45.72          31.61
3   2017-2018    29.00    36.17    46.03          33.69
4   2018-2019    32.01    35.55    46.05          35.88
5   2019-2020    34.10    35.78    45.99          38.40
6   2020-2021    34.64    36.60    46.61          39.17
7   2021-2022    35.18    35.36    46.12          39.94
8   2022-2023    34.21    36.01    47.55          38.73
9   2023-2024    35.11    36.57    47.43          39.49
10  2024-2025    37.58    36.00    46.72          42.11

In [389]:
# I modified the previous functions to surface FGA in the NBA and 2PA in the Euroleague.
# I need to add a new column to each DataFrame that shows the proportion of 3-point attempts (3PA) out of total field goal attempts (FGA).
# I call it 3PA_ratio

In [413]:
df_nba_avg['nba_3PA_ratio'] = df_nba_avg['nba_3PA'] / df_nba_avg["nba_FGA"] *100

In [417]:
# Finally drop the columns that I'm not going to use and round the numbers

df_nba_avg.drop(columns=['nba_FGA'], inplace=True)

In [419]:
df_nba_avg = df_nba_avg.round(2)

### Final two dataframes

In [423]:
df_nba_avg

       season  nba_3PA  nba_3P%  nba_FG%  nba_3PA_ratio
0   2014-2015    22.41    34.91    44.90          26.82
1   2015-2016    24.08    35.28    45.22          28.48
2   2016-2017    27.00    35.72    45.72          31.61
3   2017-2018    29.00    36.17    46.03          33.69
4   2018-2019    32.01    35.55    46.05          35.88
5   2019-2020    34.10    35.78    45.99          38.40
6   2020-2021    34.64    36.60    46.61          39.17
7   2021-2022    35.18    35.36    46.12          39.94
8   2022-2023    34.21    36.01    47.55          38.73
9   2023-2024    35.11    36.57    47.43          39.49
10  2024-2025    37.58    36.00    46.72          42.11

In [425]:
euro_avg

       season  eur_3PA  eur_3P%  eur_FG%  eur_3PA_ratio
0   2014-2015    22.01    35.38    45.58          35.63
1   2015-2016    22.65    35.87    46.05          37.22
2   2016-2017    22.61    37.19    46.36          36.72
3   2017-2018    22.81    37.56    47.02          37.18
4   2018-2019    23.13    36.85    47.30          37.63
5   2019-2020    24.75    37.24    46.67          40.11
6   2020-2021    23.86    37.91    47.28          39.64
7   2021-2022    24.18    35.57    46.26          39.93
8   2022-2023    25.13    36.11    46.92          41.26
9   2023-2024    25.33    36.37    47.19          40.57
10  2024-2025    25.98    36.13    47.61          41.26

In [427]:
# Merging the two dataframes

merged_df = pd.merge(df_nba_avg, euro_avg, on='season')
merged_df

,season,nba_3PA,nba_3P%,nba_FG%,nba_3PA_ratio,eur_3PA,eur_3P%,eur_FG%,eur_3PA_ratio
0,2014-2015,22.41,34.91,44.90,26.82,22.01,35.38,45.58,35.63
1,2015-2016,24.08,35.28,45.22,28.48,22.65,35.87,46.05,37.22
2,2016-2017,27.00,35.72,45.72,31.61,22.61,37.19,46.36,36.72
3,2017-2018,29.00,36.17,46.03,33.69,22.81,37.56,47.02,37.18
4,2018-2019,32.01,35.55,46.05,35.88,23.13,36.85,47.30,37.63
5,2019-2020,34.10,35.78,45.99,38.40,24.75,37.24,46.67,40.11
6,2020-2021,34.64,36.60,46.61,39.17,23.86,37.91,47.28,39.64
7,2021-2022,35.18,35.36,46.12,39.94,24.18,35.57,46.26,39.93
8,2022-2023,34.21,36.01,47.55,38.73,25.13,36.11,46.92,41.26
9,2023-2024,35.11,36.57,47.43,39.49,25.33,36.37,47.19,40.57
10,2024-2025,37.58,36.00,46.72,42.11,25.98,36.13,47.61,41.26

In [429]:
merged_df.to_csv('cleaned_dataframe_new', index=False)

In [620]:
merged_df

,season,nba_3PA,nba_3P%,nba_FG%,nba_3PA_ratio,eur_3PA,eur_3P%,eur_FG%,eur_3PA_ratio
0,2014-2015,22.41,34.91,44.90,26.82,22.01,35.38,45.58,35.63
1,2015-2016,24.08,35.28,45.22,28.48,22.65,35.87,46.05,37.22
2,2016-2017,27.00,35.72,45.72,31.61,22.61,37.19,46.36,36.72
3,2017-2018,29.00,36.17,46.03,33.69,22.81,37.56,47.02,37.18
4,2018-2019,32.01,35.55,46.05,35.88,23.13,36.85,47.30,37.63
5,2019-2020,34.10,35.78,45.99,38.40,24.75,37.24,46.67,40.11
6,2020-2021,34.64,36.60,46.61,39.17,23.86,37.91,47.28,39.64
7,2021-2022,35.18,35.36,46.12,39.94,24.18,35.57,46.26,39.93
8,2022-2023,34.21,36.01,47.55,38.73,25.13,36.11,46.92,41.26
9,2023-2024,35.11,36.57,47.43,39.49,25.33,36.37,47.19,40.57
10,2024-2025,37.58,36.00,46.72,42.11,25.98,36.13,47.61,41.26