### Introduction
In the past decade, both the NBA and EuroLeague have seen a notable increase in 3-point shooting. While it’s often assumed that shooting more 3s could lead to a drop in accuracy, the data may tell a different story. This project investigates whether teams have become not only more reliant on 3-pointers, but also more efficient, challenging assumptions about volume vs. efficiency in modern basketball.

### Objectives
- Analyze YoY trends in average 3PA and 3P%
- Evaluate the correlation between increased volume and accuracy
- Compare the league-wide shooting evolution in both competitions

### Hypothesis
Over the last 10 years, the rise in average 3-point attempts (av3PA) has not lowered 3-point percentage (3P%) in the NBA or EuroLeague, in fact, 3P% has improved year-over-year.

### Metrics involved
- av3P (Average 3 Point Attempts): The number of shots a team takes from beyond the three-point line per season on average.
- 3P% (Three-Point Percentage): Measures how accurately teams shoot from beyond the three point line.

In [27]:
# install the NBA API

!pip install nba_api

Requirement already satisfied: nba_api in /opt/anaconda3/lib/python3.12/site-packages (1.9.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from nba_api) (1.26.4)
Requirement already satisfied: pandas>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from nba_api) (2.2.2)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in /opt/anaconda3/lib/python3.12/site-packages (from nba_api) (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->nba_api) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->nba_api) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.1.31)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.16.0)

In [28]:
# install the Euroleague API

!pip install euroleague-api

Requirement already satisfied: euroleague-api in /opt/anaconda3/lib/python3.12/site-packages (0.0.16)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (2.32.3)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (1.26.4)
Requirement already satisfied: xmltodict in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (0.14.2)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from euroleague-api) (4.66.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->euroleague-api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->euroleague-api) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->euroleague-api) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests->euroleague-api) (2025.1.31)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->euroleague-api) (1.16.0)

In [29]:
# import numpy, pandas and requests

import pandas as pd
import numpy as np
import requests

## EUROLEAGUE DATA

In [31]:
######### Import euroleague data

from euroleague_api.team_stats import TeamStats

In [32]:
ts = TeamStats("E")

In [33]:
# test to see how the function works for a single year
df_euro1 = ts.get_team_stats_single_season("traditional", 2014)
df_euro1

,teamRanking,gamesPlayed,minutesPlayed,pointsScored,twoPointersMade,twoPointersAttempted,twoPointersPercentage,threePointersMade,threePointersAttempted,threePointersPercentage,...,turnovers,blocks,blocksAgainst,foulsCommited,foulsDrawn,pir,team.code,team.tvCodes,team.name,team.imageUrl
0,1,24.0,40.000000,71.6,19.0,39.8,47.9%,7.1,19.6,36.4%,...,14.6,3.1,3.2,22.1,20.5,73.5,ZAL,ZAL,Zalgiris Kaunas,https://media-cdn.incrowdsports.com/0aa09358-3...
1,2,24.0,40.208333,72.4,21.3,41.5,51.3%,6.0,16.8,36.1%,...,15.7,2.0,2.8,23.5,19.8,73.6,BER,ALB,ALBA Berlin,https://media-cdn.incrowdsports.com/ccc34858-2...
2,3,24.0,40.000000,77.4,20.2,39.4,51.2%,7.7,24.2,31.7%,...,10.0,2.4,3.2,23.3,20.8,76.6,MIL,EA7,EA7 Emporio Armani Milan,https://media-cdn.incrowdsports.com/8154f184-c...
3,4,28.0,40.000000,75.7,19.3,39.4,49.1%,7.5,21.6,34.8%,...,12.1,2.9,3.3,22.6,20.8,81.4,IST,EFS,Anadolu Efes Istanbul,https://media-cdn.incrowdsports.com/8ea8cec7-d...
4,5,24.0,40.416667,75.4,21.7,43.4,50%,6.0,20.2,29.5%,...,14.8,2.3,3.5,21.2,20.5,81.8,RED,CZT,Crvena Zvezda Meridianbet Belgrade,https://media-cdn.incrowdsports.com/d2eef4a8-6...
5,6,28.0,40.000000,75.1,17.9,35.3,50.6%,8.8,23.2,37.8%,...,12.7,2.3,2.8,21.4,20.8,81.8,PAN,PAO,Panathinaikos AKTOR Athens,https://media-cdn.incrowdsports.com/e3dff28a-9...
6,7,30.0,40.166667,74.3,18.2,35.1,51.8%,8.3,23.6,35.1%,...,11.6,3.3,2.5,22.4,21.5,81.9,OLY,OLY,Olympiacos Piraeus,https://media-cdn.incrowdsports.com/789423ac-3...
7,8,24.0,40.208333,78.5,20.3,41.2,49.3%,8.3,21.6,38.4%,...,12.0,3.2,2.8,22.9,19.5,82.5,NOV,NIZ,BC Nizhny Novgorod,https://media-cdn.incrowdsports.com/dddcfb2d-2...
8,9,24.0,40.625000,76.1,19.0,37.6,50.4%,7.6,22.5,33.9%,...,12.8,2.0,2.6,17.2,21.7,82.6,GAL,GSL,Galatasaray Spor Kulubu,https://media-cdn.incrowdsports.com/d8c1e9ac-0...
9,10,27.0,40.370370,77.1,22.0,41.1,53.5%,7.1,21.0,34%,...,12.9,4.4,2.5,21.1,19.8,85.6,TEL,MAC,Maccabi Playtika Tel Aviv,https://media-cdn.incrowdsports.com/5c55ef14-2...
10,11,24.0,40.208333,76.8,20.3,40.4,50.3%,7.1,22.9,31.1%,...,12.9,2.0,2.8,18.0,22.0,85.8,MAL,UNI,Unicaja Malaga,https://media-cdn.incrowdsports.com/6342214b-6...
11,12,24.0,40.000000,81.6,20.5,40.9,50%,8.3,24.7,33.6%,...,12.0,3.9,3.3,21.5,21.8,87.8,BAS,LBO,Baskonia Vitoria-Gasteiz,https://media-cdn.incrowdsports.com/e324a6af-2...
12,13,29.0,40.517241,81.8,23.2,42.7,54.4%,7.4,19.6,37.6%,...,11.6,3.4,2.6,21.0,21.3,91.8,ULK,FBU,Fenerbahce Beko Istanbul,https://media-cdn.incrowdsports.com/0233ebbb-f...
13,14,28.0,40.357143,81.6,20.6,39.5,52.2%,8.2,22.5,36.7%,...,11.2,2.8,2.6,19.1,21.5,95.9,BAR,FCB,FC Barcelona,https://media-cdn.incrowdsports.com/35dfa503-e...
14,15,30.0,40.000000,86.3,21.4,40.1,53.4%,9.5,24.8,38.4%,...,9.5,2.4,2.5,20.8,21.9,104.2,MAD,RMB,Real Madrid,https://media-cdn.incrowdsports.com/1a3e1404-4...
15,16,30.0,40.500000,87.1,21.2,38.8,54.7%,9.5,23.3,41%,...,13.1,4.2,2.5,21.2,21.8,105.8,CSK,CSK,CSKA Moscow,https://media-cdn.incrowdsports.com/b6a59212-7...

In [34]:
df_euro1.columns

Index(['teamRanking', 'gamesPlayed', 'minutesPlayed', 'pointsScored',
       'twoPointersMade', 'twoPointersAttempted', 'twoPointersPercentage',
       'threePointersMade', 'threePointersAttempted',
       'threePointersPercentage', 'freeThrowsMade', 'freeThrowsAttempted',
       'freeThrowsPercentage', 'offensiveRebounds', 'defensiveRebounds',
       'totalRebounds', 'assists', 'steals', 'turnovers', 'blocks',
       'blocksAgainst', 'foulsCommited', 'foulsDrawn', 'pir', 'team.code',
       'team.tvCodes', 'team.name', 'team.imageUrl'],
      dtype='object')

In [187]:
# Create lists of years with my desired rangea and a list where I will compile the season dataframes
years = list(range(2014, 2025))
season_dfs = []

# loop to obtain the df of single stats per team per season, formatting for the season, filtering for the columns that I need 
# and appending it to the list I created above

for year in years:
    df = ts.get_team_stats_single_season("traditional", year)
    
    df["season"] = f"{year}-{str(year + 1)}" 
    
    df_clean = df[["threePointersAttempted", "threePointersPercentage", "team.name", "season", "twoPointersAttempted"]]
    
    season_dfs.append(df_clean)

In [189]:
# Combine all seasons into one DataFrame
df_euro_all = pd.concat(season_dfs)

# Rename columns
df_euro_all.rename(columns={
    "threePointersAttempted": "eur_3PA",
    "threePointersPercentage": "eur_3P%",
    "team.name": "team",
    "twoPointersAttempted": "eur_2PA"
}, inplace=True)

df_euro_all

    eur_3PA eur_3P%                                team     season  eur_2PA
0      19.6   36.4%                     Zalgiris Kaunas  2014-2015     39.8
1      16.8   36.1%                         ALBA Berlin  2014-2015     41.5
2      24.2   31.7%            EA7 Emporio Armani Milan  2014-2015     39.4
3      21.6   34.8%               Anadolu Efes Istanbul  2014-2015     39.4
4      20.2   29.5%  Crvena Zvezda Meridianbet Belgrade  2014-2015     43.4
..      ...     ...                                 ...        ...      ...
13     22.7   36.2%                           AS Monaco  2024-2025     40.9
14     24.7   38.7%                        FC Barcelona  2024-2025     40.7
15     24.3   38.5%               Anadolu Efes Istanbul  2024-2025     38.3
16     25.9   37.3%                  Olympiacos Piraeus  2024-2025     35.4
17     25.5   38.6%          Panathinaikos AKTOR Athens  2024-2025     37.3

[188 rows x 5 columns]

In [191]:
# Strip the '%' symbol and convert to float
df_euro_all['eur_3P%'] = df_euro_all['eur_3P%'].str.rstrip('%').astype('float')

In [193]:
# Create a copy for filtering
df_euro_filtered = df_euro_all.copy()

# Group by season, find the avg and restart the index
euro_avg = df_euro_filtered.groupby("season")[["eur_3PA", "eur_3P%", "eur_2PA"]].mean().reset_index()

euro_avg = euro_avg.round(2)
euro_avg

       season  eur_3PA  eur_3P%  eur_2PA
0   2014-2015    22.01    35.38    39.76
1   2015-2016    22.65    35.87    38.20
2   2016-2017    22.61    37.19    38.96
3   2017-2018    22.81    37.56    38.54
4   2018-2019    23.13    36.85    38.33
5   2019-2020    24.75    37.24    36.96
6   2020-2021    23.86    37.91    36.33
7   2021-2022    24.18    35.57    36.38
8   2022-2023    25.13    36.11    35.77
9   2023-2024    25.33    36.37    37.09
10  2024-2025    25.99    36.14    36.98

## NBA DATA

In [40]:
########### import nba data

from nba_api.stats.endpoints import leaguedashteamstats

In [41]:
nba_ts = leaguedashteamstats

In [42]:
# test to see how the function works for a single year
df_nba1 = nba_ts.LeagueDashTeamStats(
        season="2015-16",
        measure_type_detailed_defense="Base",
        per_mode_detailed="PerGame")

df_nba_data = df_nba1.get_data_frames()[0]
df_nba_data.head

<bound method NDFrame.head of        TEAM_ID               TEAM_NAME  GP   W   L  W_PCT   MIN   FGM   FGA  \
0   1610612737           Atlanta Hawks  82  48  34  0.585  48.4  38.6  84.4
1   1610612738          Boston Celtics  82  48  34  0.585  48.2  39.2  89.2
2   1610612751           Brooklyn Nets  82  21  61  0.256  48.2  38.2  84.4
3   1610612766       Charlotte Hornets  82  48  34  0.585  48.4  37.0  84.4
4   1610612741           Chicago Bulls  82  42  40  0.512  48.5  38.6  87.4
5   1610612739     Cleveland Cavaliers  82  57  25  0.695  48.4  38.7  84.0
6   1610612742        Dallas Mavericks  82  42  40  0.512  48.8  37.4  84.1
7   1610612743          Denver Nuggets  82  33  49  0.402  48.4  37.7  85.4
8   1610612765         Detroit Pistons  82  44  38  0.537  48.5  37.9  86.4
9   1610612744   Golden State Warriors  82  73   9  0.890  48.5  42.5  87.3
10  1610612745         Houston Rockets  82  41  41  0.500  48.4  37.7  83.5
11  1610612754          Indiana Pacers  82  45  37  0.549  48.5  38.3  85.2
12  1610612746             LA Clippers  82  53  29  0.646  48.4  38.3  82.4
13  1610612747      Los Angeles Lakers  82  17  65  0.207  48.1  35.1  84.8
14  1610612763       Memphis Grizzlies  82  42  40  0.512  48.4  36.8  83.6
15  1610612748              Miami Heat  82  48  34  0.585  48.4  38.4  81.7
16  1610612749         Milwaukee Bucks  82  33  49  0.402  48.4  38.4  82.2
17  1610612750  Minnesota Timberwolves  82  29  53  0.354  48.5  37.7  81.3
18  1610612740    New Orleans Pelicans  82  30  52  0.366  48.2  38.5  85.9
19  1610612752         New York Knicks  82  32  50  0.390  48.3  36.9  84.0
20  1610612760   Oklahoma City Thunder  82  55  27  0.671  48.4  41.1  86.4
21  1610612753           Orlando Magic  82  35  47  0.427  48.5  39.5  86.8
22  1610612755      Philadelphia 76ers  82  10  72  0.122  48.3  36.2  84.0
23  1610612756            Phoenix Suns  82  23  59  0.280  48.1  37.2  85.6
24  1610612757  Portland Trail Blazers  82  44  38  0.537  48.3  38.6  85.9
25  1610612758        Sacramento Kings  82  33  49  0.402  48.3  40.0  86.4
26  1610612759       San Antonio Spurs  82  67  15  0.817  48.1  40.1  82.9
27  1610612761         Toronto Raptors  82  56  26  0.683  48.2  36.7  81.3
28  1610612762               Utah Jazz  82  40  42  0.488  48.7  36.1  80.4
29  1610612764      Washington Wizards  82  41  41  0.500  48.2  39.5  85.8

    FG_PCT  ...  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  \
0    0.458  ...        24         2        22         3         5         14
1    0.439  ...         6         6        12         2        22         24
2    0.453  ...        23        15        19        19        25         18
3    0.439  ...        14        19         1        22        12         21
4    0.441  ...         3        12        13        29         8         27
5    0.460  ...         9        13        10        28        27          7
6    0.444  ...        19        18         2        26        29          8
7    0.442  ...         8        14        18        20        16         30
8    0.439  ...         2        27         9        24        30          9
9    0.487  ...         4         1        24         9         2          3
10   0.452  ...        20        16        27         1        13         13
11   0.450  ...        12        22        20         4        17          9
12   0.465  ...        25        11         3         7        10          1
13   0.414  ...        21        30        11        23        24         25
14   0.440  ...        28        25         6         6        21         29
15   0.470  ...        13        23        14        27         1          4
16   0.467  ...        27         9        25        13         7         26
17   0.464  ...        29         8        23        14        19         17
18   0.448  ...        22        17         8        16        23         15
19   0.439  ...        10        26         7        30         9          5
20   0.476  ...         1        10        26        21         4         11
21   0.455  ...        17         7        14        12        15         21
22   0.431  ...        30        20        29        10         3         28
23   0.435  ...         7        24        30        17        28         23
24   0.450  ...         5        21        17        25        18         16
25   0.464  ...        11         4        28         5        20         19
26   0.484  ...        15         3         4        11         6          2
27   0.451  ...        16        29         5        15        11         20
28   0.449  ...        18        28        21        18        14         12
29   0.460  ...        26         5        16         8        26          6

    PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0         7        29        12                7
1        29        10         5                8
2         2        28        26               28
3         3        14        11                9
4         5        26        21               18
5        14        12         8                4
6         8         8        16               16
7        23        11        20               23
8         6         5        19               14
9        19        19         1                1
10       28         1         4               15
11       11        13        17               11
12       24         2         7                6
13       13        24        30               29
14       27         9        24               20
15        4        20        23               12
16       17        21        25               26
17       18         7        15               24
18       22        17        13               25
19       10        27        27               22
20       16        15         2                3
21       19        30        18               19
22       25        25        29               30
23       30         6        22               27
24       26        22         6               13
25       15         4         3               21
26        1        22        10                2
27        9         3        14                5
28       12        18        28               10
29       21        16         9               17

[30 rows x 54 columns]>

In [43]:
df_nba_data.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK',
       'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK',
       'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK',
       'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK'],
      dtype='object')

In [225]:
nba_data = []

for year in range(2014, 2025):
    season = f"{year}-{str(year + 1)[-2:]}"
    
    # API call
    stats = nba_ts.LeagueDashTeamStats(
        season=season,
        measure_type_detailed_defense="Base",
        per_mode_detailed="PerGame"
    )
    
    df_nba = stats.get_data_frames()[0]
    
    # keep only relevant columns
    df_filtered = df_nba[['TEAM_NAME', 'FG3A', 'FG3_PCT', 'FGA']].copy()

    # rename columns
    df_filtered.rename(columns={
    "TEAM_NAME": "team",
    "FG3A": "nba_3PA",
    "FG3_PCT": "nba_3P%",
    "FGA": "nba_FGA"
    }, inplace=True)

    # add a new column name "season", to match it later with the euroleague dataframe
    df_filtered['season'] = season
    
    # append it to the nba_data list
    nba_data.append(df_filtered)

In [227]:
nba_data

[                      team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     26.2    0.380     81.7  2014-15
 1           Boston Celtics     24.6    0.327     87.9  2014-15
 2            Brooklyn Nets     19.9    0.331     83.0  2014-15
 3        Charlotte Hornets     19.1    0.318     84.5  2014-15
 4            Chicago Bulls     22.3    0.353     82.9  2014-15
 5      Cleveland Cavaliers     27.5    0.367     82.2  2014-15
 6         Dallas Mavericks     25.4    0.352     85.8  2014-15
 7           Denver Nuggets     24.8    0.325     87.3  2014-15
 8          Detroit Pistons     24.9    0.344     85.8  2014-15
 9    Golden State Warriors     27.0    0.398     87.0  2014-15
 10         Houston Rockets     32.7    0.348     83.3  2014-15
 11          Indiana Pacers     21.2    0.352     83.2  2014-15
 12    Los Angeles Clippers     26.9    0.376     83.3  2014-15
 13      Los Angeles Lakers     18.9    0.344     85.6  2014-15
 14       Memphis Grizzlies     15.2    0.339     82.5  2014-15
 15              Miami Heat     20.2    0.335     77.2  2014-15
 16         Milwaukee Bucks     18.3    0.363     82.0  2014-15
 17  Minnesota Timberwolves     14.9    0.332     83.2  2014-15
 18    New Orleans Pelicans     19.3    0.370     82.9  2014-15
 19         New York Knicks     19.7    0.347     82.0  2014-15
 20   Oklahoma City Thunder     22.7    0.339     86.8  2014-15
 21           Orlando Magic     19.5    0.347     82.8  2014-15
 22      Philadelphia 76ers     26.3    0.320     82.6  2014-15
 23            Phoenix Suns     25.0    0.341     85.8  2014-15
 24  Portland Trail Blazers     27.2    0.362     86.0  2014-15
 25        Sacramento Kings     16.5    0.341     80.7  2014-15
 26       San Antonio Spurs     22.5    0.367     83.6  2014-15
 27         Toronto Raptors     25.1    0.352     83.3  2014-15
 28               Utah Jazz     21.7    0.343     79.2  2014-15
 29      Washington Wizards     16.8    0.360     82.8  2014-15,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     28.4    0.350     84.4  2015-16
 1           Boston Celtics     26.1    0.335     89.2  2015-16
 2            Brooklyn Nets     18.4    0.352     84.4  2015-16
 3        Charlotte Hornets     29.4    0.362     84.4  2015-16
 4            Chicago Bulls     21.4    0.371     87.4  2015-16
 5      Cleveland Cavaliers     29.6    0.362     84.0  2015-16
 6         Dallas Mavericks     28.6    0.344     84.1  2015-16
 7           Denver Nuggets     23.7    0.338     85.4  2015-16
 8          Detroit Pistons     26.2    0.345     86.4  2015-16
 9    Golden State Warriors     31.6    0.416     87.3  2015-16
 10         Houston Rockets     30.9    0.347     83.5  2015-16
 11          Indiana Pacers     23.0    0.351     85.2  2015-16
 12             LA Clippers     26.7    0.364     82.4  2015-16
 13      Los Angeles Lakers     24.6    0.317     84.8  2015-16
 14       Memphis Grizzlies     18.5    0.331     83.6  2015-16
 15              Miami Heat     18.0    0.336     81.7  2015-16
 16         Milwaukee Bucks     15.6    0.345     82.2  2015-16
 17  Minnesota Timberwolves     16.4    0.338     81.3  2015-16
 18    New Orleans Pelicans     23.8    0.360     85.9  2015-16
 19         New York Knicks     21.5    0.346     84.0  2015-16
 20   Oklahoma City Thunder     23.7    0.349     86.4  2015-16
 21           Orlando Magic     22.2    0.350     86.8  2015-16
 22      Philadelphia 76ers     27.5    0.339     84.0  2015-16
 23            Phoenix Suns     25.8    0.348     85.6  2015-16
 24  Portland Trail Blazers     28.5    0.370     85.9  2015-16
 25        Sacramento Kings     22.4    0.359     86.4  2015-16
 26       San Antonio Spurs     18.5    0.375     82.9  2015-16
 27         Toronto Raptors     23.4    0.370     81.3  2015-16
 28               Utah Jazz     23.9    0.355     80.4  2015-16
 29      Washington Wizards     24.2    0.358     85.8  2015-16,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     26.1    0.341     84.4  2016-17
 1           Boston Celtics     33.4    0.359     85.1  2016-17
 2            Brooklyn Nets     31.6    0.338     85.2  2016-17
 3        Charlotte Hornets     28.6    0.351     85.4  2016-17
 4            Chicago Bulls     22.3    0.340     87.1  2016-17
 5      Cleveland Cavaliers     33.9    0.384     84.9  2016-17
 6         Dallas Mavericks     30.2    0.355     82.3  2016-17
 7           Denver Nuggets     28.8    0.368     87.7  2016-17
 8          Detroit Pistons     23.4    0.330     88.8  2016-17
 9    Golden State Warriors     31.2    0.383     87.1  2016-17
 10         Houston Rockets     40.3    0.357     87.2  2016-17
 11          Indiana Pacers     23.0    0.376     84.5  2016-17
 12             LA Clippers     27.4    0.375     83.2  2016-17
 13      Los Angeles Lakers     25.7    0.346     87.4  2016-17
 14       Memphis Grizzlies     26.5    0.354     83.6  2016-17
 15              Miami Heat     27.0    0.365     85.8  2016-17
 16         Milwaukee Bucks     23.7    0.370     81.9  2016-17
 17  Minnesota Timberwolves     21.0    0.349     84.4  2016-17
 18    New Orleans Pelicans     26.8    0.350     87.0  2016-17
 19         New York Knicks     24.7    0.348     88.5  2016-17
 20   Oklahoma City Thunder     25.8    0.327     87.4  2016-17
 21           Orlando Magic     26.1    0.328     87.0  2016-17
 22      Philadelphia 76ers     29.8    0.340     85.3  2016-17
 23            Phoenix Suns     22.6    0.332     88.5  2016-17
 24  Portland Trail Blazers     27.7    0.375     86.1  2016-17
 25        Sacramento Kings     23.9    0.376     82.1  2016-17
 26       San Antonio Spurs     23.5    0.391     83.7  2016-17
 27         Toronto Raptors     24.3    0.363     84.4  2016-17
 28               Utah Jazz     26.0    0.372     79.5  2016-17
 29      Washington Wizards     24.8    0.372     87.0  2016-17,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     31.0    0.360     85.5  2017-18
 1           Boston Celtics     30.4    0.377     85.1  2017-18
 2            Brooklyn Nets     35.7    0.356     86.8  2017-18
 3        Charlotte Hornets     27.2    0.369     86.7  2017-18
 4            Chicago Bulls     31.1    0.355     88.8  2017-18
 5      Cleveland Cavaliers     32.1    0.372     84.8  2017-18
 6         Dallas Mavericks     32.8    0.360     85.9  2017-18
 7           Denver Nuggets     30.9    0.371     86.6  2017-18
 8          Detroit Pistons     28.9    0.373     86.9  2017-18
 9    Golden State Warriors     28.9    0.391     85.1  2017-18
 10         Houston Rockets     42.3    0.362     84.2  2017-18
 11          Indiana Pacers     24.5    0.369     86.4  2017-18
 12             LA Clippers     26.8    0.354     85.4  2017-18
 13      Los Angeles Lakers     29.1    0.345     88.4  2017-18
 14       Memphis Grizzlies     26.2    0.352     82.8  2017-18
 15              Miami Heat     30.6    0.360     85.3  2017-18
 16         Milwaukee Bucks     24.7    0.355     83.0  2017-18
 17  Minnesota Timberwolves     22.5    0.357     86.1  2017-18
 18    New Orleans Pelicans     28.2    0.362     88.3  2017-18
 19         New York Knicks     23.3    0.352     87.7  2017-18
 20   Oklahoma City Thunder     30.4    0.354     88.1  2017-18
 21           Orlando Magic     29.3    0.351     85.9  2017-18
 22      Philadelphia 76ers     29.8    0.369     86.6  2017-18
 23            Phoenix Suns     27.9    0.334     87.1  2017-18
 24  Portland Trail Blazers     28.1    0.366     87.0  2017-18
 25        Sacramento Kings     24.0    0.375     86.1  2017-18
 26       San Antonio Spurs     24.1    0.352     85.4  2017-18
 27         Toronto Raptors     33.0    0.358     87.4  2017-18
 28               Utah Jazz     29.6    0.366     82.9  2017-18
 29      Washington Wizards     26.5    0.375     85.6  2017-18,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     37.0    0.352     91.8  2018-19
 1           Boston Celtics     34.5    0.365     90.5  2018-19
 2            Brooklyn Nets     36.2    0.353     89.7  2018-19
 3        Charlotte Hornets     33.9    0.351     89.8  2018-19
 4            Chicago Bulls     25.9    0.351     87.9  2018-19
 5      Cleveland Cavaliers     29.1    0.355     87.6  2018-19
 6         Dallas Mavericks     36.6    0.340     86.9  2018-19
 7           Denver Nuggets     31.4    0.351     90.0  2018-19
 8          Detroit Pistons     34.8    0.348     88.3  2018-19
 9    Golden State Warriors     34.4    0.385     89.8  2018-19
 10         Houston Rockets     45.4    0.356     87.4  2018-19
 11          Indiana Pacers     25.4    0.374     87.0  2018-19
 12             LA Clippers     25.8    0.388     87.5  2018-19
 13      Los Angeles Lakers     31.0    0.333     90.5  2018-19
 14       Memphis Grizzlies     28.9    0.342     84.4  2018-19
 15              Miami Heat     32.4    0.349     88.0  2018-19
 16         Milwaukee Bucks     38.2    0.353     91.1  2018-19
 17  Minnesota Timberwolves     28.7    0.351     91.3  2018-19
 18    New Orleans Pelicans     29.9    0.344     92.2  2018-19
 19         New York Knicks     29.5    0.340     88.3  2018-19
 20   Oklahoma City Thunder     32.6    0.348     94.0  2018-19
 21           Orlando Magic     32.1    0.356     89.1  2018-19
 22      Philadelphia 76ers     30.2    0.359     88.2  2018-19
 23            Phoenix Suns     29.3    0.329     87.4  2018-19
 24  Portland Trail Blazers     30.7    0.359     90.6  2018-19
 25        Sacramento Kings     29.9    0.378     93.1  2018-19
 26       San Antonio Spurs     25.3    0.392     88.4  2018-19
 27         Toronto Raptors     33.8    0.366     89.1  2018-19
 28               Utah Jazz     34.0    0.356     86.4  2018-19
 29      Washington Wizards     33.3    0.341     90.1  2018-19,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     36.1    0.333     90.6  2019-20
 1           Boston Celtics     34.5    0.364     89.6  2019-20
 2            Brooklyn Nets     38.1    0.343     90.3  2019-20
 3        Charlotte Hornets     34.3    0.352     85.9  2019-20
 4            Chicago Bulls     35.1    0.348     88.6  2019-20
 5      Cleveland Cavaliers     31.8    0.351     87.9  2019-20
 6         Dallas Mavericks     41.3    0.367     90.3  2019-20
 7           Denver Nuggets     30.6    0.359     88.9  2019-20
 8          Detroit Pistons     32.7    0.367     85.7  2019-20
 9    Golden State Warriors     31.3    0.334     88.2  2019-20
 10         Houston Rockets     45.3    0.345     90.4  2019-20
 11          Indiana Pacers     28.0    0.363     88.5  2019-20
 12             LA Clippers     33.5    0.371     89.2  2019-20
 13      Los Angeles Lakers     31.6    0.349     88.3  2019-20
 14       Memphis Grizzlies     31.5    0.347     90.9  2019-20
 15              Miami Heat     35.4    0.379     84.4  2019-20
 16         Milwaukee Bucks     38.9    0.355     90.9  2019-20
 17  Minnesota Timberwolves     39.7    0.336     91.6  2019-20
 18    New Orleans Pelicans     36.9    0.370     91.6  2019-20
 19         New York Knicks     28.4    0.337     89.3  2019-20
 20   Oklahoma City Thunder     30.2    0.355     85.5  2019-20
 21           Orlando Magic     32.2    0.343     88.6  2019-20
 22      Philadelphia 76ers     31.6    0.368     87.9  2019-20
 23            Phoenix Suns     31.8    0.358     88.1  2019-20
 24  Portland Trail Blazers     34.1    0.377     91.2  2019-20
 25        Sacramento Kings     34.9    0.364     88.4  2019-20
 26       San Antonio Spurs     28.5    0.376     89.4  2019-20
 27         Toronto Raptors     37.0    0.374     87.9  2019-20
 28               Utah Jazz     35.2    0.380     85.1  2019-20
 29      Washington Wizards     32.6    0.368     90.9  2019-20,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     33.4    0.373     87.2  2020-21
 1           Boston Celtics     36.4    0.374     88.9  2020-21
 2            Brooklyn Nets     36.1    0.392     87.3  2020-21
 3        Charlotte Hornets     37.0    0.369     87.8  2020-21
 4            Chicago Bulls     34.0    0.370     88.6  2020-21
 5      Cleveland Cavaliers     29.7    0.336     85.8  2020-21
 6         Dallas Mavericks     38.1    0.362     87.3  2020-21
 7           Denver Nuggets     34.2    0.377     89.2  2020-21
 8          Detroit Pistons     32.9    0.351     85.6  2020-21
 9    Golden State Warriors     38.7    0.376     88.2  2020-21
 10         Houston Rockets     40.6    0.339     88.5  2020-21
 11          Indiana Pacers     34.0    0.364     91.2  2020-21
 12             LA Clippers     34.7    0.411     86.7  2020-21
 13      Los Angeles Lakers     31.2    0.354     86.1  2020-21
 14       Memphis Grizzlies     31.4    0.356     91.8  2020-21
 15              Miami Heat     36.2    0.358     83.7  2020-21
 16         Milwaukee Bucks     37.1    0.389     91.8  2020-21
 17  Minnesota Timberwolves     37.6    0.349     90.9  2020-21
 18    New Orleans Pelicans     30.4    0.348     89.1  2020-21
 19         New York Knicks     30.0    0.392     86.5  2020-21
 20   Oklahoma City Thunder     35.1    0.339     88.0  2020-21
 21           Orlando Magic     31.8    0.343     89.2  2020-21
 22      Philadelphia 76ers     30.1    0.374     86.9  2020-21
 23            Phoenix Suns     34.6    0.378     88.3  2020-21
 24  Portland Trail Blazers     40.8    0.385     91.1  2020-21
 25        Sacramento Kings     33.3    0.364     88.6  2020-21
 26       San Antonio Spurs     28.4    0.350     90.5  2020-21
 27         Toronto Raptors     39.3    0.368     88.7  2020-21
 28               Utah Jazz     43.0    0.389     88.1  2020-21
 29      Washington Wizards     29.0    0.351     90.9  2020-21,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     34.4    0.374     88.3  2021-22
 1           Boston Celtics     37.1    0.356     87.4  2021-22
 2            Brooklyn Nets     31.7    0.361     88.4  2021-22
 3        Charlotte Hornets     38.2    0.365     91.4  2021-22
 4            Chicago Bulls     28.8    0.369     86.9  2021-22
 5      Cleveland Cavaliers     32.8    0.355     84.6  2021-22
 6         Dallas Mavericks     37.4    0.350     85.1  2021-22
 7           Denver Nuggets     35.9    0.353     86.3  2021-22
 8          Detroit Pistons     34.6    0.326     88.6  2021-22
 9    Golden State Warriors     39.4    0.364     86.4  2021-22
 10         Houston Rockets     38.7    0.349     86.4  2021-22
 11          Indiana Pacers     35.4    0.344     89.5  2021-22
 12             LA Clippers     34.2    0.374     87.4  2021-22
 13      Los Angeles Lakers     34.5    0.347     88.8  2021-22
 14       Memphis Grizzlies     32.7    0.353     94.4  2021-22
 15              Miami Heat     35.8    0.379     84.8  2021-22
 16         Milwaukee Bucks     38.4    0.366     89.4  2021-22
 17  Minnesota Timberwolves     41.3    0.358     91.0  2021-22
 18    New Orleans Pelicans     32.1    0.332     88.0  2021-22
 19         New York Knicks     36.9    0.357     86.2  2021-22
 20   Oklahoma City Thunder     37.4    0.323     89.1  2021-22
 21           Orlando Magic     36.9    0.331     88.3  2021-22
 22      Philadelphia 76ers     31.8    0.364     84.5  2021-22
 23            Phoenix Suns     31.9    0.364     90.1  2021-22
 24  Portland Trail Blazers     36.8    0.346     87.1  2021-22
 25        Sacramento Kings     33.2    0.344     88.1  2021-22
 26       San Antonio Spurs     32.0    0.352     92.7  2021-22
 27         Toronto Raptors     34.2    0.349     91.3  2021-22
 28               Utah Jazz     40.3    0.360     86.2  2021-22
 29      Washington Wizards     30.6    0.342     86.0  2021-22,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     30.5    0.352     92.4  2022-23
 1           Boston Celtics     42.6    0.377     88.8  2022-23
 2            Brooklyn Nets     33.8    0.378     85.1  2022-23
 3        Charlotte Hornets     32.5    0.330     90.4  2022-23
 4            Chicago Bulls     28.9    0.361     86.8  2022-23
 5      Cleveland Cavaliers     31.6    0.367     85.2  2022-23
 6         Dallas Mavericks     41.0    0.371     84.3  2022-23
 7           Denver Nuggets     31.2    0.379     86.4  2022-23
 8          Detroit Pistons     32.4    0.351     87.1  2022-23
 9    Golden State Warriors     43.2    0.385     90.2  2022-23
 10         Houston Rockets     31.9    0.327     88.9  2022-23
 11          Indiana Pacers     37.0    0.367     89.6  2022-23
 12             LA Clippers     33.3    0.381     86.1  2022-23
 13      Los Angeles Lakers     31.2    0.346     89.0  2022-23
 14       Memphis Grizzlies     34.2    0.351     92.1  2022-23
 15              Miami Heat     34.8    0.344     85.3  2022-23
 16         Milwaukee Bucks     40.3    0.368     90.4  2022-23
 17  Minnesota Timberwolves     33.3    0.365     87.4  2022-23
 18    New Orleans Pelicans     30.1    0.364     87.6  2022-23
 19         New York Knicks     35.7    0.354     89.4  2022-23
 20   Oklahoma City Thunder     34.1    0.356     92.6  2022-23
 21           Orlando Magic     31.1    0.346     86.3  2022-23
 22      Philadelphia 76ers     32.6    0.387     83.8  2022-23
 23            Phoenix Suns     32.6    0.374     90.1  2022-23
 24  Portland Trail Blazers     35.3    0.365     85.4  2022-23
 25        Sacramento Kings     37.3    0.369     88.2  2022-23
 26       San Antonio Spurs     32.2    0.345     92.6  2022-23
 27         Toronto Raptors     32.0    0.335     91.3  2022-23
 28               Utah Jazz     37.8    0.353     89.8  2022-23
 29      Washington Wizards     31.7    0.356     86.9  2022-23,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     37.7    0.364     92.5  2023-24
 1           Boston Celtics     42.5    0.388     90.2  2023-24
 2            Brooklyn Nets     36.7    0.362     89.1  2023-24
 3        Charlotte Hornets     34.0    0.355     87.0  2023-24
 4            Chicago Bulls     32.1    0.358     89.5  2023-24
 5      Cleveland Cavaliers     36.8    0.367     87.2  2023-24
 6         Dallas Mavericks     39.5    0.369     89.7  2023-24
 7           Denver Nuggets     31.2    0.374     88.8  2023-24
 8          Detroit Pistons     31.7    0.348     88.2  2023-24
 9    Golden State Warriors     38.9    0.380     91.6  2023-24
 10         Houston Rockets     36.1    0.352     91.0  2023-24
 11          Indiana Pacers     35.3    0.374     92.7  2023-24
 12             LA Clippers     33.2    0.381     86.7  2023-24
 13      Los Angeles Lakers     31.4    0.377     87.5  2023-24
 14       Memphis Grizzlies     37.8    0.346     88.2  2023-24
 15              Miami Heat     33.7    0.370     85.6  2023-24
 16         Milwaukee Bucks     38.1    0.373     88.5  2023-24
 17  Minnesota Timberwolves     32.7    0.387     85.0  2023-24
 18    New Orleans Pelicans     32.6    0.383     87.4  2023-24
 19         New York Knicks     35.8    0.369     88.7  2023-24
 20   Oklahoma City Thunder     34.2    0.389     89.3  2023-24
 21           Orlando Magic     31.3    0.352     84.9  2023-24
 22      Philadelphia 76ers     33.3    0.363     89.4  2023-24
 23            Phoenix Suns     32.6    0.382     86.1  2023-24
 24  Portland Trail Blazers     33.2    0.345     89.7  2023-24
 25        Sacramento Kings     39.3    0.366     90.9  2023-24
 26       San Antonio Spurs     36.4    0.347     90.7  2023-24
 27         Toronto Raptors     33.1    0.347     89.7  2023-24
 28               Utah Jazz     36.5    0.354     89.9  2023-24
 29      Washington Wizards     35.5    0.348     91.4  2023-24,
                       team  nba_3PA  nba_3P%  nba_FGA   season
 0            Atlanta Hawks     37.7    0.358     91.8  2024-25

In [231]:
df_nba_all = pd.concat(nba_data)
df_nba_all

                  team  nba_3PA  nba_3P%  nba_FGA   season
0        Atlanta Hawks     26.2    0.380     81.7  2014-15
1       Boston Celtics     24.6    0.327     87.9  2014-15
2        Brooklyn Nets     19.9    0.331     83.0  2014-15
3    Charlotte Hornets     19.1    0.318     84.5  2014-15
4        Chicago Bulls     22.3    0.353     82.9  2014-15
..                 ...      ...      ...      ...      ...
25    Sacramento Kings     35.2    0.357     90.1  2024-25
26   San Antonio Spurs     39.6    0.357     89.8  2024-25
27     Toronto Raptors     34.0    0.348     91.0  2024-25
28           Utah Jazz     39.8    0.350     88.7  2024-25
29  Washington Wizards     39.1    0.335     89.9  2024-25

[330 rows x 5 columns]

In [249]:
df_nba_all['nba_3P%'] = df_nba_all['nba_3P%'].astype(float)
df_nba_avg = df_nba_all.groupby('season')[['nba_3PA', 'nba_3P%','nba_FGA']].mean().reset_index()
df_nba_avg

     season    nba_3PA   nba_3P%    nba_FGA
0   2014-15  22.410000  0.349100  83.563333
1   2015-16  24.083333  0.352767  84.570000
2   2016-17  27.003333  0.357167  85.416667
3   2017-18  28.996667  0.361733  86.063333
4   2018-19  32.006667  0.355500  89.213333
5   2019-20  34.103333  0.357767  88.803333
6   2020-21  34.636667  0.366033  88.416667
7   2021-22  35.180000  0.353567  88.090000
8   2022-23  34.206667  0.360133  88.316667
9   2023-24  35.106667  0.365667  88.903333
10  2024-25  37.583333  0.359967  89.243333

### COMPARING DATAFRAMES AND STANDARDIZING VALUES/COLUMNS

In [49]:
# Standardizing "season" column

In [141]:
df_nba_all

                  team  nba_3PA  nba_3P%   season
0        Atlanta Hawks     26.2     38.0  2014-15
1       Boston Celtics     24.6     32.7  2014-15
2        Brooklyn Nets     19.9     33.1  2014-15
3    Charlotte Hornets     19.1     31.8  2014-15
4        Chicago Bulls     22.3     35.3  2014-15
..                 ...      ...      ...      ...
25    Sacramento Kings     35.2     35.7  2024-25
26   San Antonio Spurs     39.6     35.7  2024-25
27     Toronto Raptors     34.0     34.8  2024-25
28           Utah Jazz     39.8     35.0  2024-25
29  Washington Wizards     39.1     33.5  2024-25

[330 rows x 4 columns]

In [83]:
df_nba_all['season'].dtype

dtype('O')

In [103]:
def format_season(season):
    start_year = int(season[:4])
    end_year = start_year + 1
    return f"{start_year}-{end_year}"

In [251]:
df_nba_avg['season'] = df_nba_avg['season'].apply(format_season)
df_nba_avg

       season    nba_3PA   nba_3P%    nba_FGA
0   2014-2015  22.410000  0.349100  83.563333
1   2015-2016  24.083333  0.352767  84.570000
2   2016-2017  27.003333  0.357167  85.416667
3   2017-2018  28.996667  0.361733  86.063333
4   2018-2019  32.006667  0.355500  89.213333
5   2019-2020  34.103333  0.357767  88.803333
6   2020-2021  34.636667  0.366033  88.416667
7   2021-2022  35.180000  0.353567  88.090000
8   2022-2023  34.206667  0.360133  88.316667
9   2023-2024  35.106667  0.365667  88.903333
10  2024-2025  37.583333  0.359967  89.243333

In [237]:
# Standardizing "nba_3P%" column

In [253]:
df_nba_avg['nba_3P%'] = df_nba_avg['nba_3P%'] * 100

In [259]:
df_nba_avg

       season  nba_3PA  nba_3P%  nba_FGA
0   2014-2015    22.41    34.91    83.56
1   2015-2016    24.08    35.28    84.57
2   2016-2017    27.00    35.72    85.42
3   2017-2018    29.00    36.17    86.06
4   2018-2019    32.01    35.55    89.21
5   2019-2020    34.10    35.78    88.80
6   2020-2021    34.64    36.60    88.42
7   2021-2022    35.18    35.36    88.09
8   2022-2023    34.21    36.01    88.32
9   2023-2024    35.11    36.57    88.90
10  2024-2025    37.58    36.00    89.24

In [275]:
df_nba_avg = df_nba_avg.round(2)

### Final two dataframes

In [261]:
df_nba_avg

       season  nba_3PA  nba_3P%  nba_FGA
0   2014-2015    22.41    34.91    83.56
1   2015-2016    24.08    35.28    84.57
2   2016-2017    27.00    35.72    85.42
3   2017-2018    29.00    36.17    86.06
4   2018-2019    32.01    35.55    89.21
5   2019-2020    34.10    35.78    88.80
6   2020-2021    34.64    36.60    88.42
7   2021-2022    35.18    35.36    88.09
8   2022-2023    34.21    36.01    88.32
9   2023-2024    35.11    36.57    88.90
10  2024-2025    37.58    36.00    89.24

In [199]:
euro_avg

       season  eur_3PA  eur_3P%  eur_2PA
0   2014-2015    22.01    35.38    39.76
1   2015-2016    22.65    35.87    38.20
2   2016-2017    22.61    37.19    38.96
3   2017-2018    22.81    37.56    38.54
4   2018-2019    23.13    36.85    38.33
5   2019-2020    24.75    37.24    36.96
6   2020-2021    23.86    37.91    36.33
7   2021-2022    24.18    35.57    36.38
8   2022-2023    25.13    36.11    35.77
9   2023-2024    25.33    36.37    37.09
10  2024-2025    25.99    36.14    36.98

### Extra columns: 
- NBA (FGA to compare to 3PA and get fraction)
- EuroLeague (2PA to add them to 3PA, obtain FGA, and then compare them to 3PA and get fraction).

In [203]:
# I modified the previous functions to surface FGA in the NBA and 2PA in the Euroleague.
# I need to add a new column to each DataFrame that shows the proportion of 3-point attempts (3PA) out of total field goal attempts (FGA).
# I call it 3PA_ratio

In [271]:
df_nba_avg['nba_3PA_ratio'] = df_nba_avg['nba_3PA'] / df_nba_avg["nba_FGA"] *100

In [279]:
df_nba_avg.drop(columns=['3PA_ratio'], inplace=True)

In [283]:
df_nba_avg # this dataset is ready to be merged

       season  nba_3PA  nba_3P%  nba_FGA  nba_3PA_ratio
0   2014-2015    22.41    34.91    83.56          26.82
1   2015-2016    24.08    35.28    84.57          28.47
2   2016-2017    27.00    35.72    85.42          31.61
3   2017-2018    29.00    36.17    86.06          33.70
4   2018-2019    32.01    35.55    89.21          35.88
5   2019-2020    34.10    35.78    88.80          38.40
6   2020-2021    34.64    36.60    88.42          39.18
7   2021-2022    35.18    35.36    88.09          39.94
8   2022-2023    34.21    36.01    88.32          38.73
9   2023-2024    35.11    36.57    88.90          39.49
10  2024-2025    37.58    36.00    89.24          42.11

In [303]:
# For the Euroleague I need to create a new column that adds 2PA and 3PA, and name it as eur_FGA.
# Then I need to create a new column that comapres FGA to 3PA to get the ratio, similar to what I did with the nba dataframe.
# Then I need to drop the 2PA column

euro_avg

       season  eur_3PA  eur_3P%  eur_FGA  eur_3PA_ratio
0   2014-2015    22.01    35.38    61.77          35.63
1   2015-2016    22.65    35.87    60.85          37.22
2   2016-2017    22.61    37.19    61.57          36.72
3   2017-2018    22.81    37.56    61.35          37.18
4   2018-2019    23.13    36.85    61.46          37.63
5   2019-2020    24.75    37.24    61.71          40.11
6   2020-2021    23.86    37.91    60.19          39.64
7   2021-2022    24.18    35.57    60.56          39.93
8   2022-2023    25.13    36.11    60.90          41.26
9   2023-2024    25.33    36.37    62.42          40.58
10  2024-2025    25.99    36.14    62.97          41.27

In [287]:
euro_avg['eur_FGA'] = euro_avg['eur_3PA'] + euro_avg['eur_2PA']

In [291]:
euro_avg['eur_3PA_ratio'] = euro_avg['eur_3PA'] / euro_avg['eur_FGA'] *100

In [301]:
euro_avg.drop(columns=['eur_2PA'], inplace=True)

In [299]:
euro_avg = euro_avg.round(2)

In [305]:
# Merging the two dataframes

merged_df = pd.merge(df_nba_avg, euro_avg, on='season')
merged_df

,season,nba_3PA,nba_3P%,nba_FGA,nba_3PA_ratio,eur_3PA,eur_3P%,eur_FGA,eur_3PA_ratio
0,2014-2015,22.41,34.91,83.56,26.82,22.01,35.38,61.77,35.63
1,2015-2016,24.08,35.28,84.57,28.47,22.65,35.87,60.85,37.22
2,2016-2017,27.00,35.72,85.42,31.61,22.61,37.19,61.57,36.72
3,2017-2018,29.00,36.17,86.06,33.70,22.81,37.56,61.35,37.18
4,2018-2019,32.01,35.55,89.21,35.88,23.13,36.85,61.46,37.63
5,2019-2020,34.10,35.78,88.80,38.40,24.75,37.24,61.71,40.11
6,2020-2021,34.64,36.60,88.42,39.18,23.86,37.91,60.19,39.64
7,2021-2022,35.18,35.36,88.09,39.94,24.18,35.57,60.56,39.93
8,2022-2023,34.21,36.01,88.32,38.73,25.13,36.11,60.90,41.26
9,2023-2024,35.11,36.57,88.90,39.49,25.33,36.37,62.42,40.58
10,2024-2025,37.58,36.00,89.24,42.11,25.99,36.14,62.97,41.27

In [307]:
merged_df.to_csv('cleaned_dataframe', index=False)